<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/css/themes/default.css">
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/css/pages/page_404_error.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/css/custom.css">

    {% block extrahead %}{% endblock %}
  </head>

<body class="boxed-layout container">


  <div class="wrapper">
      {% include 'navbar.html' %}  

      {% block content %}{% endblock %}

      {% include 'footer.html' %}  
  </div>
  <!--/wrapper-->

  <!-- JS Global Compulsory -->           
  <script  src="{{PROJECT_STATIC_PATH}}assets/plugins/jquery-1.10.2.min.js"></script>
  <script  src="{{PROJECT_STATIC_PATH}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>
  <script  src="{{PROJECT_STATIC_PATH}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script  src="{{PROJECT_STATIC_PATH}}assets/plugins/back-to-top.js"></script>
  <!--[if lt IE 9]>
      <script src="{{PROJECT_STATIC_PATH}}assets/plugins/respond.js"></script>
  <![endif]-->
  <!-- For Background Image -->
  <script  src="{{PROJECT_STATIC_PATH}}assets/plugins/backstretch/jquery.backstretch.min.js"></script>
  
  <script>
     /* $('.dropdown >a').on('click',function(){
          var uri = $(this).attr('href');
          location.href=uri;
      });*/
      $.backstretch([
        "{{PROJECT_STATIC_PATH}}assets/img/bg/13.jpg"
        ])
  </script>

  <!-- End For Background Image -->
  {% block extrajs %}{% endblock %}
  </body>
</html>