{% extends 'footprint.html' %}
{% block extrahead %}
<!-- CSS Customization -->
<link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
{% endblock %}

{% block main_content %}
<div id="central">
{% if messages.showError == True%}
  <div class="alert alert-danger">
      <h4>Ups!</h4>
      <p>Ha ocurrido un error,  Vuelve a intentarlo</p>
      <p>
        <a class="btn-u btn-u-sea" href="">Volver</a>
      </p>
  </div>
{% elif messages.showError == False%}
 <div class="alert alert-success">
      <h4>Gracias!</h4>
      <p>Los datos fueron enviados correctamente.</p>
      <p>
        <a class="btn-u btn-u-sea" href="/">Ir al Home</a>
      </p>
  </div>
{% else %}
	<form action="" name="Calculo" class="sky-form">
	    <header>Datos básicos</header>
	    <fieldset>
	       <div class="col-md-6">
	       <section class="">
		        <label class="label">¿Cuántas personas viven en tu hogar?</label>
		         <label class="select">
		         	<select name="PERSONASVIVENENCASA" id="PERSONASVIVENENCASA" size="1" onchange="comidas()">
						<option value="1.5">1 Persona</option>
						<option value="1.2">2 Personas</option>
						<option value="1">3 Personas</option>
						<option value="0.7">4 Personas</option>
						<option value="0.5">5 o más Personas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		     <section class="">
		        <label class="label">¿Qué cantidad de sus comidas (desayunos, comidas y cenas) se elaboran en casa?</label>
		         <label class="select">
		         <select name="CANTIDADCOMIDAS" id="CANTIDADCOMIDAS" size="1" onchange="comidas()">
						<option value="1.5">Casi toda</option>
						<option value="1.2">La mayoría</option>
						<option value="1">Más o menos la mitad</option>
						<option value="0.8">Menos de la mitad</option>
						<option value="0.5">Casi ninguna</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Qué tipo de comida consumen?</label>
		         <label class="select">
		         <select name="TIPODECOMIDA" id="TIPODECOMIDA" size="1">
						<option value="1.5">Muchos alimentos frescos</option>
						<option value="1">Tanto alimentos frescos como preparados y enlatados</option>
						<option value="0.25">Muchos alimentos enlatados y precocinados</option>
					</select>
		            <i></i>
		         </label>
		         <input type="hidden" name="habitoAlimenConsumo" id="habitoAlimenConsumo">
		    </section>
	       </div>
	    </fieldset>

	    <header>¿Cuál es tu pauta de consumo de papel?</header>
	    <fieldset>
	    	<div class="col-md-6">
	       <section class="">
		        <label class="label">¿Cuántos periódicos llegan a tu hogar?</label>
		         <label class="select">
		         <select name="PERIODICO" id="PERIODICO" size="1" onchange="papeles1()">
						<option value="2">Varios todos los días</option>
						<option value="1.25">Uno solo a diario</option>
						<option value="1">Alguno de vez en cuando</option>
						<option value="0.75">Sólo el periódico del domingo</option>
						<option value="0.25">Ninguno</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Con qué frecuencia llegan catálogos, revistas y publicidad?</label>
		         <label class="select">
		         <select name="CATALOGOSYREVISTAS" id="CATALOGOSYREVISTAS" size="1" onchange="papeles2()">
					  <option value="2">Muchos todos los días</option>
					  <option value="1.25">Varios todos los días</option>
						<option value="1">De vez en cuando</option>
						<option value="0.75">Esporádicamente</option>
						<option value="0.25">Nunca</option>
					</select>
		            <i></i>
		         </label>
		         <input type="hidden" name="cataloPeriodRevistas" id="cataloPeriodRevistas" value="777">
		    </section>
		   </div>
	    </fieldset>

	    <header>¿Qué tipos de envases son más frecuentes en tu hogar?<br>(piensa en la abundancia relativa de cada tipo, en un plazo de una semana).</header>
	    <fieldset>
	       <div class="col-md-6">
	       <section class="">
		        <label class="label">¿Botellas de vidrio?</label>
		         <label class="select">
		         <select name="BOTELLASDEVIDRIO" id="BOTELLASDEVIDRIO" size="1">
						<option value="0.25" selected="">Ninguna</option>
						<option value="0.75">Pocas</option>
						<option value="1">Algunas</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Frascos de vidrio?</label>
		         <label class="select">
		         <select name="FRASCOSDEVIDRIO" id="FRASCOSDEVIDRIO" size="1">
						<option value="0.25" selected="">Ninguno</option>
						<option value="0.75">Pocos</option>
						<option value="1">Algunos</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchos</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Botellas de plástico?</label>
		         <label class="select">
		         	<select name="BOTELLASDEPLASTICO" id="BOTELLASDEPLASTICO" size="1">
						<option value="0.25" selected="">Ninguna</option>
						<option value="0.75">Pocas</option>
						<option value="1">Algunas</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Botes, tarros, tarrinas, bandejas, etc de plástico?</label>
		         <label class="select">
		         <select name="TARROSDEPLASTICO" id="TARROSDEPLASTICO" size="1">
						<option value="0.25" selected="">Ninguno</option>
						<option value="0.75">Pocos</option>
						<option value="1">Algunos</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchos</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Bolsas de plástico?</label>
		         <label class="select">
		         <select name="BOLSASDEPLASTICO" id="BOLSASDEPLASTICO" size="1">
						<option value="0.25" selected="">Ninguna</option>
						<option value="0.75">Pocas</option>
						<option value="1">Algunas</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
	       </div>
	       <div class="col-md-6">
		    <section class="">
		        <label class="label">¿Latas de bebida?</label>
		         <label class="select">
		         <select name="LATASDEBEBIDA" id="LATASDEBEBIDA" size="1">
						<option value="0.25" selected="">Ninguna</option>
						<option value="0.75">Pocas</option>
						<option value="1">Algunas</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Latas de conserva?</label>
		         <label class="select">
		         <select name="LATASDECONSERVA" id="LATASDECONSERVA" size="1">
						<option value="0.25" selected="">Ninguna</option>
						<option value="0.75">Pocas</option>
						<option value="1">Algunas</option>
						<option value="1.25">Bastantes</option>
						<option value="2">Muchas</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">¿Bricks?</label>
		         <label class="select">
		         <select name="BRICKS" id="BRICKS" size="1">
						<option value="0.1" selected="">Ninguno</option>
						<option value="0.6">Pocos</option>
						<option value="1">Algunos</option>
						<option value="2">Bastantes</option>
						<option value="3">Muchos</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">Con respecto a los sobreempaquetados (con varias capas superpuestas de  envoltorios), mini y microenvases.</label>
		         <label class="select">
		         <select name="MINIENVASES" id="MINIENVASES" size="1">
						<option value="1.2" selected="">Los adquiero con frecuencia</option>
						<option value="1">No me fijo</option>
						<option value="0.7">Suelo evitarlos</option>
					</select>
		            <i></i>
		         </label>
		    </section>
		    <section class="">
		        <label class="label">Los alimentos frescos: frutas, verduras, carne, pescado… </label>
		         <label class="select">
		          <select name="ENVASESPARAALIMENTOSFRESCOS" id="ENVASESPARAALIMENTOSFRESCOS" size="1">
						<option value="1.2" selected="">Siempre los compro empaquetados en bandejas</option>
						<option value="1">No me fijo</option>
						<option value="0.7">Los compro a granel</option>
					</select>
					<input type="hidden" name="consumoDeEnvases" id="consumoDeEnvases">
		            <i></i>
		         </label>
		    </section>
		    </div>
	    </fieldset>

	    <header>De los residuos que se producen en tu hogar ¿qué materiales separas?</header>
	    <fieldset>
	    	<section class="">
                <div class="inline-group">
                    <label class="checkbox"><input type="checkbox" value="0" name="separanada" id="separanada" onclick="noseparonada(this.form)"><i></i>No separo nada</label>
                </div>
            </section>
	    	<div class="col-md-6">
		        <section class="">
			        <label class="label">Vidrio (cubo verde)</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="vidrio" id="vidrio"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="vidrio" id="vidrio"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			     <section class="">
			        <label class="label">Papel (cubo azul)</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="papel" id="papel"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="papel" id="papel"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			     <section class="">
			        <label class="label">Envases (cubo amarillo)</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="envases" id="envases"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="envases" id="envases"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
		   </div>
		   <div class="col-md-6">
		   		<p><span>Responde a los cuatro siguientes sólo si se recogen por separado en tu distrito o municipio</span></p>
		        <section class="">
			        <label class="label">Materia orgánica</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="materiaorganica" id="materiaorganica"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="materiaorganica" id="materiaorganica"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">Pilas</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="pilas" id="pilas"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="pilas" id="pilas"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">Aceites</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="aceites" id="aceites"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="aceites" id="aceites"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">Pinturas</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="pinturas" id="pinturas"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="pinturas" id="pinturas"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
		   </div>
	    </fieldset>

	    <header>¿Una vez separados en tu hogar ¿te ocupas de depositarlos en el iglú<br>o contenedor respectivo?</header>
	    <fieldset>
	    	<div class="col-md-6">
		        <section class="">
			        <label class="label">Vidrio en el iglú verde</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoVidrio" id="depoVidrio"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoVidrio" id="depoVidrio"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			     <section class="">
			        <label class="label">Papel en el iglú azul</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoPapel" id="depoPapel"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoPapel" id="depoPapel"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			     <section class="">
			        <label class="label">Envases en el iglú amarillo</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoEnvases" id="depoEnvases"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoEnvases" id="depoEnvases"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			     <section class="">
			        <label class="label">Materia orgánica en el cubo general</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoMatOrganica" id="depoMatOrganica"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoMatOrganica" id="depoMatOrganica"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
		   </div>
		   <div class="col-md-6">
		        <section class="">
			        <label class="label">Pilas (en el cubo de pilas y baterías que se encuentran en la calle, estaciones y paradas de transporte, centros comerciales y supermercados)</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoPilas" id="depoPilas"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoPilas" id="depoPilas"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">Aceites (en el contenedor específico, Garbigune o punto limpio,  o en un frasco bien cerrado en el cubo general)</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoAceites" id="depoAceites"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoAceites" id="depoAceites"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">Pinturas</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="depoPinturas" id="depoPinturas"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="depoPinturas" id="depoPinturas"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">¿Entregas los medicamentos en los puntos SIGRE que están en las farmacias?</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="medicamentos" id="medicamentos"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="medicamentos" id="medicamentos"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">¿Llevas los toners y cartuchos de tinta agotados al Garbigune o a lugares que ya ofrecen su recogida como papelerías, centros de enseñanza, etc?</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="toners" id="toners"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="toners" id="toners"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
			    <section class="">
			        <label class="label">¿Entregas tu móvil usado en las tiendas de venta?</label>
			        <div class="inline-group">
			            <label class="radio"><input type="radio" value="1" name="movil" id="movil"><i class="rounded-x"></i>Si</label>
			            <label class="radio"><input type="radio" value="0" name="movil" id="movil"><i class="rounded-x"></i>No</label>
			        </div>
			    </section>
		   </div>
	    </fieldset>

	    <header>Resultados</header>
          <fieldset>
              <label class="label">A continuación vas a conocer los resultados generales de la encuesta</label>
              <section>
                  <button type="button" class="btn-u btn-u-default" value="Cálculo general" class="boton2" onclick="total(this.form)">Ver resultados</button>
              </section>

              <div class="col-md-12">
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">Cálculo general de la cantidad de residuos generados al día (Kg)</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="totalcam" id="totalcam" size="6" onfocus="select()" disabled> kep
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">% de diferencia del total de residuos con respecto a la media de 1,13 kg por persona y día</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total2cam" id="total2cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <label class="label">Cálculo del porcentaje que supone...</label>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">La materia orgánica:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total3cam" id="total3cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">El papel y cartón:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total4cam" id="total4cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">El vidrio:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total5cam" id="total5cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">Los plásticos:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total6cam" id="total6cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">Los metales (latas de cualquier clase):</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total7cam" id="total7cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">Los bricks:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total8cam" id="total8cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                      	<label class="label">Resto:</label>
                      </div>
                      <div class="col-md-4">
                      	<div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total9cam" id="total9cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>

                <section class="send-data hide">
		            <label class="label"><strong>Puedes compartir los datos con nosotros de forma anónima. Haz Click en el botón y escribe lo que vez en la imagen.</strong></label>
		            <button id="send-data" type="button" class="btn-u">Enviar resultados</button>
		        </section>
              </div>
          </fieldset>
          
	</form>
	<!-- Bootstrap Modals With Forms -->
          <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Enviar Resultados</h4>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <form id="data-analysis" role="form" action="." method="post" class="sky-form">
                              <fieldset>
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                  {% if field.html_name != 'captcha' %}
                                    {{ field.as_hidden }}
                                  {% else %}
                                    {{ field }}
                                  {% endif %}
                                {% endfor %}
                              <button type="submit" class="btn-u btn-u-default" class="boton2">Enviar</button>
                              </fieldset>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    <!-- End Bootstrap Modals With Forms -->
{% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script>
        var vidrio = 0;
        var papel = 0;
        var envases = 0;
        var materiaorganica = 0;
        var pilas = 0;
        var aceites = 0;
        var pinturas = 0;
        
        // Todos los carecteres son numeros
        function EsNumero(Dato) {
            var CadenaNumeros="0123456789";
            var EsteCaracter;
            var Contador = 0;
        
            for (var i=0; i < Dato.length; i++) {
                EsteCaracter = Dato.substring(i, i+1);
                if (CadenaNumeros.indexOf(EsteCaracter) != -1) Contador ++;
            }
            if (Contador == Dato.length) return true;
            else return false;
        }
        
        function escribeMsg(campo,texto) {
                cambioTexto  = "document.all.item('"+campo+"').innerHTML = '" + texto + "'";
                eval (cambioTexto);
        }
        
        function comidas() {
            var personas = document.getElementById('PERSONASVIVENENCASA').value;
            var cantidad = document.getElementById('CANTIDADCOMIDAS').value;
            var tipo = document.getElementById('TIPODECOMIDA').value;
            variable = 0;
            if ((personas<=1)&&(cantidad>=1.2)){
                document.getElementById('habitoAlimenConsumo').value="1";
            }else if ((personas>=1.2)&&(cantidad<=0.8)){
                document.getElementById('habitoAlimenConsumo').value="2";
            }else{
                document.getElementById('habitoAlimenConsumo').value="3";
            }
        }
        
        function papeles1() {
            var periodicos = document.getElementById('PERIODICO').value;
            if ((periodicos==0.25)){
                document.getElementById('cataloPeriodRevistas').value=1;
            }else if ((periodicos==0.75)||(periodicos==1)){
                document.getElementById('cataloPeriodRevistas').value=2;
            }else if ((periodicos==1.25)){
                document.getElementById('cataloPeriodRevistas').value=3;
            }else if ((periodicos==2)){
                document.getElementById('cataloPeriodRevistas').value=4;
            }
        }
        function papeles2() {
            var catrevistas = document.getElementById('CATALOGOSYREVISTAS').value;
            if ((catrevistas==0.25)){
                document.getElementById('cataloPeriodRevistas').value=1;
            }else if ((catrevistas==0.75)||(catrevistas==1)){
                document.getElementById('cataloPeriodRevistas').value=2;
            }else if ((catrevistas==1.25)){
                document.getElementById('cataloPeriodRevistas').value=3;
            }else if ((catrevistas==2)){
                document.getElementById('cataloPeriodRevistas').value=4;
            }
        }
        
        function envasesCon() {
            var botellasdevidrio = document.getElementById('BOTELLASDEVIDRIO').value;
            var frascosdevidrio = document.getElementById('FRASCOSDEVIDRIO').value;
            var botellasdeplastico = document.getElementById('BOTELLASDEPLASTICO').value;
            var tarrosdeplastico = document.getElementById('TARROSDEPLASTICO').value;
            var bolsasdeplastico = document.getElementById('BOLSASDEPLASTICO').value;
            var latasdebebida = document.getElementById('LATASDEBEBIDA').value;
            var latasdeconserva = document.getElementById('LATASDECONSERVA').value;
            var bricks = document.getElementById('BRICKS').value;
            var minienvases = document.getElementById('MINIENVASES').value;
            var envasesparaalimentosfrescos = document.getElementById('ENVASESPARAALIMENTOSFRESCOS').value;
        
        
            if ((minienvases==0.7 && envasesparaalimentosfrescos==0.7)){
                document.getElementById('consumoDeEnvases').value=1;
            }else if ((minienvases==1 && envasesparaalimentosfrescos==1)){
                document.getElementById('consumoDeEnvases').value=2;
            }else if ((minienvases==1.2 && envasesparaalimentosfrescos==1.2)){
                document.getElementById('consumoDeEnvases').value=3;
            }else {
                document.getElementById('consumoDeEnvases').value=2;
            }
        
        }
        
        function separacion() {
        
            var array_separacion = new Array();
        
            if (document.getElementById('vidrio').checked) array_separacion['vidrio']=  1;
            else array_separacion['vidrio']=  0;
        
            if (document.getElementById('papel').checked) array_separacion['papel']=  1;
            else array_separacion['papel']=  0;
        
            if (document.getElementById('envases').checked) array_separacion['envases']=  1;
            else array_separacion['envases']=  0;
        
        
            if (document.getElementById('materiaorganica').checked) array_separacion['materiaorganica']=  1;
            else array_separacion['materiaorganica']=  0;
        
            if (document.getElementById('pilas').checked) array_separacion['pilas']=  1;
            else array_separacion['pilas']=  0;
        
            if (document.getElementById('aceites').checked) array_separacion['aceites']=  1;
            else array_separacion['aceites']=  0;
        
            if (document.getElementById('pinturas').checked) array_separacion['pinturas']=  1;
            else array_separacion['pinturas']=  0;
        
            if (document.getElementById('depoVidrio').checked) array_separacion['depoVidrio']=  1;
            else array_separacion['depoVidrio']=  0;
        
            if (document.getElementById('depoPapel').checked) array_separacion['depoPapel']=  1;
            else array_separacion['depoPapel']=  0;
        
            if (document.getElementById('depoEnvases').checked) array_separacion['depoEnvases']=  1;
            else array_separacion['depoEnvases']=  0;
        
            if (document.getElementById('depoMatOrganica').checked) array_separacion['depoMatOrganica']=  1;
            else array_separacion['depoMatOrganica']=  0;
        
            if (document.getElementById('depoPilas').checked) array_separacion['depoPilas']=  1;
            else array_separacion['depoPilas']=  0;
        
            if (document.getElementById('depoAceites').checked) array_separacion['depoAceites']=  1;
            else array_separacion['depoAceites']=  0;
        
            if (document.getElementById('depoPinturas').checked) array_separacion['depoPinturas']=  1;
            else array_separacion['depoPinturas']=  0;
        
            if (document.getElementById('medicamentos').checked) array_separacion['medicamentos']=  1;
            else array_separacion['medicamentos']=  0;
        
            if (document.getElementById('toners').checked) array_separacion['toners']=  1;
            else array_separacion['toners']=  0;
        
            if (document.getElementById('movil').checked) array_separacion['movil']=  1;
            else array_separacion['movil']=  0;
        
        
            var total_si = 0, total_no=0;
            for (x in array_separacion)
            {
                total_si = total_si + array_separacion[x];
                total_no = 17 - total_si;
            }
        
        
            var total_vidriopapelyenvases;
            total_vidriopapelyenvases = array_separacion['vidrio'] + array_separacion['papel'] + array_separacion['envases'] + array_separacion['depoVidrio'] + array_separacion['depoPapel'] + array_separacion['depoEnvases'];
        
            if (total_si==17)
                document.getElementById('habitosSeparacion').value=1; // evento 21 (Todas sí)
            else if ((total_no == 1) || (total_no == 2))
                document.getElementById('habitosSeparacion').value=2; // evento 22  (No a 1 o 2 preguntas)
            else if (total_vidriopapelyenvases==6)
                document.getElementById('habitosSeparacion').value=3; // evento 23 (sí a vidrio, papel y envases)
            else if (total_si==0)
                document.getElementById('habitosSeparacion').value=4; // evento 24 (No a todo)
            else
                document.getElementById('habitosSeparacion').value=0;  // ?¿?¿?¿
        
        }
        
        
        
        function total(form) {
        	var $people_house_quantity = $("#id_people_house_quantity"),
			$total_day_waste_kep = $("#id_total_day_waste_kep"),
			$dwa_difference_percentage = $("#id_dwa_difference_percentage"),
			$organic_percentage = $("#id_organic_percentage"),
			$paper_cardboard_percentage = $("#id_paper_cardboard_percentage"),
			$glass_percentage = $("#id_glass_percentage"),
			$plastics_percentage = $("#id_plastics_percentage"),
			$metals_percentage = $("#id_metals_percentage"),
			$bricks_percentage = $("#id_bricks_percentage"),
			$others_percentage = $("#id_others_percentage"),
			personas = Number(document.getElementById('PERSONASVIVENENCASA').value),
			$send_data = $('.send-data');

            totalmateriaorganica = (580 * document.getElementById('TIPODECOMIDA').value);
            totalpapelycarton = (200 * document.getElementById('PERIODICO').value) + (100 * document.getElementById('LATASDECONSERVA').value)+(40*document.getElementById('LATASDECONSERVA').value);
            totalvidrio = (80*document.getElementById('BOTELLASDEVIDRIO').value) + (40*document.getElementById('FRASCOSDEVIDRIO').value);
            totalplastico = (((100*document.getElementById('BOTELLASDEPLASTICO').value) + (50 * document.getElementById('TARROSDEPLASTICO').value) + (20 * document.getElementById('BOLSASDEPLASTICO').value))* document.getElementById('MINIENVASES').value * document.getElementById('ENVASESPARAALIMENTOSFRESCOS').value) ;
            totalmetales = (40*document.getElementById('LATASDEBEBIDA').value) + (60 * document.getElementById('LATASDECONSERVA').value);
            totalbricks = 40 *document.getElementById('BRICKS').value * document.getElementById('MINIENVASES').value;
        
            sumadeparciales = totalmateriaorganica + totalpapelycarton + totalvidrio + totalplastico + totalmetales + totalbricks + 150;
        
        
            totalenpeso = ((0,8*sumadeparciales * document.getElementById('PERSONASVIVENENCASA').value) +(0,2*sumadeparciales* document.getElementById('CANTIDADCOMIDAS').value));
            porcentajetotal = totalenpeso *100/1130;
        
            porcentajemo = ((totalmateriaorganica*100)/sumadeparciales)
            porcentajepapelycarton = ((totalpapelycarton*100)/sumadeparciales)
        
            porcentajevidrio = ((totalvidrio*100)/sumadeparciales)
            porcentajeplastico = ((totalplastico*100)/sumadeparciales)
            porcentajemetal = ((totalmetales*100)/sumadeparciales)
            porcentajebrick = ((totalbricks*100)/sumadeparciales)
        
        
            var aux = totalenpeso/10000;
            document.getElementById('totalcam').value  = Math.round(aux*10)/10; // para redondear a 2 decimales
            var aux = porcentajetotal/10;
            document.getElementById('total2cam').value = Math.round(aux*10)/10;  // para redondear a 2 decimales
        
            document.getElementById('total3cam').value = Math.round(porcentajemo);
            document.getElementById('total4cam').value = Math.round(porcentajepapelycarton);
        
            document.getElementById('total5cam').value = Math.round(porcentajevidrio);
            document.getElementById('total6cam').value = Math.round(porcentajeplastico);
            document.getElementById('total7cam').value = Math.round(porcentajemetal);
            document.getElementById('total8cam').value = Math.round(porcentajebrick);
            document.getElementById('total9cam').value = 100 - (Math.round(porcentajemo) + Math.round(porcentajepapelycarton) + Math.round(porcentajevidrio) + Math.round(porcentajeplastico) + Math.round(porcentajemetal) + Math.round(porcentajebrick));
        
            //alert("totalmateriaorganica "+totalmateriaorganica+"\ntotalpapelycarton"+ totalpapelycarton + "\ntotalvidrio" + totalvidrio+"\ntotalplastico "+ totalplastico+"\ntotalmetales " + totalmetales + "\ntotalbricks " + totalbricks + "\n\n\nsumadeparciales" + sumadeparciales + "\n\n\ntotalenpeso " + totalenpeso)
        	
        	if (personas == 1.5){
        		$people_house_quantity.val(1);
            }else if (personas == 1.2){
            	$people_house_quantity.val(2);
            }else if (personas == 1){
            	$people_house_quantity.val(3);
            }else if (personas == 0.7){
            	$people_house_quantity.val(4);
            }else{
            	$people_house_quantity.val(5);
            }

			$total_day_waste_kep.val(form.totalcam.value);
			$dwa_difference_percentage.val(form.total2cam.value);
			$organic_percentage.val(form.total3cam.value);
			$paper_cardboard_percentage.val(form.total4cam.value);
			$glass_percentage.val(form.total5cam.value);
			$plastics_percentage.val(form.total6cam.value);
			$metals_percentage.val(form.total7cam.value);
			$bricks_percentage.val(form.total8cam.value);
			$others_percentage.val(form.total9cam.value);
        	$send_data.removeClass('hide');
        }
        
        function noseparonada(form){
            if (document.getElementById('separanada').checked){
                form.vidrio[1].checked = true
                form.papel[1].checked = true
                form.envases[1].checked = true
                form.materiaorganica[1].checked = true
                form.pilas[1].checked = true
                form.aceites[1].checked = true
                form.pinturas[1].checked = true
                form.depoVidrio[1].checked = true
                form.depoPapel[1].checked = true
                form.depoEnvases[1].checked = true
                form.depoMatOrganica[1].checked = true
                form.depoPilas[1].checked = true
                form.depoAceites[1].checked = true
                form.depoPinturas[1].checked = true
                form.medicamentos[1].checked = true
                form.toners[1].checked = true
                form.movil[1].checked = true
        
            }else{
        
            }
        }
        
        function analisis(form){
            comidas();
            papeles1();
            papeles2();
            envasesCon();
            separacion();
            var porcentajevar = document.getElementById('totalcam').value;
        
            if (porcentajevar == "") {
                alert("Para conocer el análisis de tu caso debes realizar el cálculo general.");
            }else{
        
                document.forms["Resultado"].submit();
            }
        }

        $('#send-data').on('click',function(){
             $('#data-modal').modal('show');
        });

        $('.alert-danger > p > a').on('click',function(){
            history.back();
        });

        $( document ).ready(function() {
            total_day_waste_kep = Number($('#id_total_day_waste_kep').val());
            $send_data = $('.send-data');
            if(total_day_waste_kep != 0){
              $send_data.removeClass('hide');
            }
          });
 </script>
{% endblock %}
