{% extends 'footprint.html' %}
{% block extrahead %}
<!-- CSS Customization -->
<link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
{% endblock %}
{% block main_content %}
<div id="central">
{% if messages.showError == True%}
  <div class="alert alert-danger">
      <h4>Ups!</h4>
      <p>Ha ocurrido un error,  Vuelve a intentarlo</p>
      <p>
        <a class="btn-u btn-u-sea" href="">Volver</a>
      </p>
  </div>
{% elif messages.showError == False%}
 <div class="alert alert-success">
      <h4>Gracias!</h4>
      <p>Los datos fueron enviados correctamente.</p>
      <p>
        <a class="btn-u btn-u-sea" href="/">Ir al Home</a>
      </p>
  </div>
{% else %}
<form action="" name="Calculo" class="sky-form">
        <header>Empezamos por el WC {{human}}</header>
        <fieldset>
           <div class="col-md-6">
               <section class="">
                    <label class="label">¿Cuántas veces vacías la cisterna al día?</label>
                    <label class="input">
                        <input type="text" name="wc1cam" id="wc1cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
               <section class="">
                    <label class="label">¿Tienes instalado algún sistema ahorrador en el WC?</label>
                     <label class="select">
                     <select name="wc2cam" id="wc2cam" size="1">
                        <option value="5">Sí, tengo instalado algún sistema</option>
                        <option value="10" selected="">No, no tengo ningun sistema</option>
                    </select>
                    <i></i>
                    </label>
                </section>
           </div>
           <div class="col-md-12">
               <label class="label">Calcula tu gasto anual en litros de agua por el uso del WC</label>
                <section class="">
                      <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton2" onclick="wc(this.form)">Ver Resultado</button>
                </section>
                <section class="">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="label">Consumo total</label>
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                        <label class="">
                            <input type="text" class="campo" name="wc3cam" id="wc3cam" size="6" onfocus="select()" disabled>
                        </label>
                      </div>
                  </div>
                </div>
                </section>
            </div>
        </fieldset>

        <header>Seguimos en el cuarto de baño: la ducha y el lavado</header>
        <fieldset>
           <div class="col-md-6">
               <section class="">
                    <label class="label">¿Cuántas duchas tomas a la semana?</label>
                    <label class="input">
                        <input type="text" name="ducha1cam" id="ducha1cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
               
               <section class="">
                    <label class="label">¿Cuántos baños de bañera completa te das al año? (ninguno = 0)</label>
                    <label class="input">
                        <input type="text" name="ducha3cam" id="ducha3cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>

               <section class="">
                    <label class="label">¿Cuántas veces te lavas los dientes al día?</label>
                    <label class="input">
                        <input type="text" name="ducha5cam" id="ducha5cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>

               <section class="">
                    <label class="label">¿Cuántas veces utilizas la maquinilla de rasurar al mes?</label>
                    <label class="input">
                        <input type="text" name="ducha7cam" id="ducha7cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
               
           </div>
           <div class="col-md-6">
               <section class="">
                    <label class="label">¿Cuántos minutos pasas bajo la ducha?</label>
                    <label class="input">
                        <input type="text" name="ducha2cam" id="ducha2cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
               <section class="">
                    <label class="label">¿Tienes instalado algún sistema economizador de agua en grifos y ducha? (Temporizador, aireador, perlizador, etc.)</label>
                     <label class="select">
                     <select name="ducha4cam" id="ducha4cam" size="1">
                        <option value="6">Si, tengo instalado algún sistema</option>
                        <option value="9" selected="">No, no tengo ningun sistema</option>
                    </select>
                    <i></i>
                    </label>
              </section>
              <section class="">
                    <label class="label">¿Cuántas veces te lavas las manos o la cara diariamente?</label>
                    <label class="input">
                        <input type="text" name="ducha6cam" id="ducha6cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
               <section class="">
                    <label class="label">¿Cómo manejas el grifo del lavabo?</label>
                     <label class="select">
                     <select name="ducha8cam" id="ducha8cam" size="1">
                        <option value="0.5">Cierro el grifo siempre que puedo</option>
                        <option value="1.5" selected="">Abro al empezar y no lo cierro hasta acabar</option>
                    </select>
                    <i></i>
                    </label>
              </section>
           </div>
           <div class="col-md-12">
               <label class="label">Tu gasto anual en litros de agua por el uso de la ducha y del lavado es de...</label>
                <section class="">
                      <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton2" onclick="ducha(this.form)">Ver Resultado</button>
                </section>
                <section class="">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="label">Consumo total</label>
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                        <label class="">
                            <input type="text" class="campo" name="ducha9cam" id="ducha9cam" size="6" onfocus="select()" disabled>
                        </label>
                      </div>
                  </div>
                </div>
                </section>
            </div>
        </fieldset>

        <header>Ya en la cocina..</header>
        <fieldset>
           <div class="col-md-6">
               <section class="">
                    <label class="label">¿Cómo lavas la vajilla y los cacharros?</label>
                     <label class="select">
                     <select name="cocina1cam" id="cocina1cam" size="1">
                        <option value="8000" selected="">A mano con el grifo a chorro</option>
                        <option value="6400">A mano con un fregado economizador</option>
                        <option value="7200">Con lavavajillas</option>
                        <option value="4800">Con lavavajillas y programas cortos</option>
                        <option value="3600">Con lavavajillas modelo economizador</option>
                    </select>
                    <i></i>
                    </label>
                </section>
           </div>
           <div class="col-md-12">
               <label class="label">Calcula tu gasto anual en litros de agua por lavar la vajilla y los cacharros</label>
                <section class="">
                      <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton2" onclick="cocina(this.form)">Ver Resultado</button>
                </section>
                <section class="">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="label">Consumo total</label>
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                        <label class="">
                            <input type="text" class="campo" name="cocina2cam" id="cocina2cam" size="6" onfocus="select()" disabled>
                        </label>
                      </div>
                  </div>
                </div>
                </section>
            </div>
        </fieldset>

        <header>Ahora unas preguntas sobre el lavado de ropa</header>
        <fieldset>
           <div class="col-md-6">
               <section class="">
                    <label class="label">¿Cómo es tu lavadora?</label>
                     <label class="select">
                      <select name="lavado1cam" id="lavado1cam" size="1">
                        <option value="1.2" selected="">Es un modelo con más de 5 años</option>
                        <option value="1">Es un modelo moderno, convencional</option>
                        <option value="0.7">Es un modelo con economizador de agua</option>
                    </select>
                    <i></i>
                    </label>
                </section>
                <section class="">
                    <label class="label">Sueles utilizar programas...</label>
                     <label class="select">
                     <select name="lavado3cam" id="lavado3cam" size="1">
                        <option value="0.7">Programas más bien cortos</option>
                        <option value="1.5" selected="">Programas más bién largos</option>
                    </select>
                    <i></i>
                    </label>
                </section>
                <section class="">
                    <label class="label">Número de personas en la casa</label>
                    <label class="input">
                        <input type="text" name="lavado5cam" id="lavado5cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
           </div>
           <div class="col-md-6">
                <section class="">
                    <label class="label">¿Llenas por completo tu lavadora?</label>
                     <label class="select">
                     <select name="lavado2cam" id="lavado2cam" size="1">
                        <option value="1.2" selected="">No siempre</option>
                        <option value="0.8">Siempre</option>
                    </select>
                    <i></i>
                    </label>
                </section>
                <section class="">
                    <label class="label">Número de lavados semanales</label>
                    <label class="input">
                        <input type="text" name="lavado4cam" id="lavado4cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
           </div>
           <div class="col-md-12">
               <label class="label">Tu gasto   anual en litros de agua por el lavado de ropa es de...</label>
                <section class="">
                      <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton2" onclick="lavado(this.form)">Ver Resultado</button>
                </section>
                <section class="">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="label">Consumo total</label>
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                        <label class="">
                            <input type="text" class="campo" name="lavado6cam" id="lavado6cam" size="6" onfocus="select()" disabled>
                        </label>
                      </div>
                  </div>
                </div>
                </section>
            </div>
        </fieldset>


        <header>¿Qué hay de tu manejo con las plantas y zonas verdes?</header>
        <fieldset>
           <div class="col-md-6">
               <section class="">
                    <label class="label">En tu casa tienes...</label>
                     <label class="select">
                      <select name="plantas1cam" id="plantas1cam" size="1">
                        <option value="1000" selected="">Unas cuantas macetas</option>
                        <option value="0">No tengo ninguna planta</option>
                    </select>
                    <i></i>
                    </label>
                </section>
                <section class="">
                    <label class="label">¿Cómo riegas las plantas?</label>
                     <label class="select">
                     <select name="plantas3cam" id="plantas3cam" size="1">
                        <option selected="selected" value="0">Selecciona</option>
                        <option value="1200">A plena luz del sol</option>
                        <option value="800">De madrugada o por la noche</option>
                    </select>
                    <i></i>
                    </label>
                </section>
           </div>
           <div class="col-md-6">
                <section class="">
                    <label class="label">Si tienes terraza o jardín indica los metros cuadrados destinados a plantas que se riegan (pon 0 si no tienes)</label>
                    <label class="input">
                        <input type="text" name="plantas2cam" id="plantas2cam" class="campo" size="8" onfocus="select()">
                    </label>
               </section>
                <section class="">
                    <label class="label">¿Cuentas con algún sistema de riego economizador?</label>
                     <label class="select">
                     <select name="plantas4cam" id="plantas4cam" size="1">
                        <option selected="selected" value="0">Selecciona</option>
                        <option value="1.5">No, no tengo ningún sistema economizador</option>
                        <option value="0.5">Sí, dispongo de algún sistema economizador</option>
                    </select>
                    <i></i>
                    </label>
                </section>
           </div>
           <div class="col-md-12">
               <label class="label">Tu gasto anual en litros de agua por el mantenimiento de plantas es de...</label>
                <section class="">
                      <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton2" onclick="plantas(this.form)">Ver Resultado</button>
                </section>
                <section class="">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <label class="label">Consumo total</label>
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                        <label class="">
                            <input type="text" class="campo" name="plantas5cam" id="plantas5cam" size="6" onfocus="select()" disabled>
                        </label>
                      </div>
                  </div>
                </div>
                </section>
            </div>
        </fieldset>

        <header>Resultados</header>
          <fieldset>
              <label class="label">A continuación vas a conocer los resultados generales de la encuesta.</label>
              <section>
                  <button type="button" class="btn-u btn-u-default" value="Cálculo general" class="boton2" onclick="total(this.form)">Ver resultados</button>
              </section>
              <div class="col-md-12">
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                        <label class="label">Tu consumo total de agua en litros al año es de...</label>
                      </div>
                      <div class="col-md-4">
                        <div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="totalcam" id="totalcam" size="6" onfocus="select()" disabled> 
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                        <label class="label">La diferencia entre tu consumo y el consumo medio es de...</label>
                      </div>
                      <div class="col-md-4">
                        <div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total2cam" id="total2cam" size="6" onfocus="select()" disabled>
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                        <label class="label">Es decir, tu porcentaje sobre la media es del</label>
                      </div>
                      <div class="col-md-4">
                        <div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total3cam" id="total3cam" size="6" onfocus="select()" disabled>%
                            </label>
                          </div>
                      </div>
                    </div>
                </section>
                <section class="">
                    <div class="col-md-12">
                      <div class="col-md-8">
                        <label class="label">Si todo el mundo tuviera los mismos hábitos de consumo que tú el gasto de agua por usos domésticos sería de... </label>
                      </div>
                      <div class="col-md-4">
                        <div class="inline-group">
                            <label class="">
                            <input type="text" class="campo" name="total4cam" id="total4cam" size="6" onfocus="select()" disabled>Hm<sup>3</sup> (ahora es de 130 Hm<sup>3</sup>)</p>
                            </label>
                          </div>
                      </div>
                    </div>
                    <div class="note">(Ten en cuenta que el consumo medio estimado es de 60.000 litros por persona al año)</div>
                </section>
              </div>
              <section class="send-data hide">
                  <label class="label"><strong>Puedes compartir los datos con nosotros de forma anónima. Haz Click en el botón y escribe lo que vez en la imagen.</strong></label>
                  <button id="send-data" type="button" class="btn-u">Enviar resultados</button>
              </section>
          </fieldset>
        <input type="hidden" value="0" name="wccisterna">
        <input type="hidden" value="0" name="wcsistema">
        <input type="hidden" value="0" name="duchatiempo">
        <input type="hidden" value="0" name="duchabano">
        <input type="hidden" value="0" name="duchasistema">
        <input type="hidden" value="0" name="duchagrifo">
        <input type="hidden" value="0" name="cocinalavavajillas">
        <input type="hidden" value="0" name="lavadolavadora">
        <input type="hidden" value="0" name="lavadollena">
        <input type="hidden" value="0" name="lavadoprograma">
        <input type="hidden" value="0" name="lavadonumero">
        <input type="hidden" value="0" name="plantasmetros">
        <input type="hidden" value="0" name="plantasfrecuencia">
        <input type="hidden" value="0" name="plantaseconomizador">
        <input type="hidden" value="0" name="consumoagua">
    </form>         
          <!-- Bootstrap Modals With Forms -->
          <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Enviar Resultados</h4>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <form id="data-analysis" role="form" action="." method="post" class="sky-form">
                              <fieldset>
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                  {% if field.html_name != 'captcha' %}
                                    {{ field.as_hidden }}
                                  {% else %}
                                    {{ field }}
                                  {% endif %}
                                {% endfor %}
                              <button type="submit" class="btn-u btn-u-default" class="boton2">Enviar</button>
                              </fieldset>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Bootstrap Modals With Forms -->
{% endif %}
   
</div>
{% endblock %}

{% block extrajs %}
		<script>
        function EsNumero(Dato) {
            var CadenaNumeros="0123456789";
            var EsteCaracter;
            var Contador = 0;
            
            for (var i=0; i < Dato.length; i++) {
                EsteCaracter = Dato.substring(i, i+1);
                if (CadenaNumeros.indexOf(EsteCaracter) != -1) Contador ++;
            }
            if (Contador == Dato.length) return true;
            else return false;
        }
        
        function wc(form) {
            var wc1var = form.wc1cam.value;
            var wc2var = form.wc2cam.options[form.wc2cam.selectedIndex].value;
            var wc3var = form.wc3cam.value;
            
            if (EsNumero(wc1var)){
                if (wc1var != "" && wc2var != ""){
                    form.wc3cam.value = Math.round((wc1var * wc2var) * 365);
                    
                    if (wc1var > 5) 
                        document.forms["Calculo"].wccisterna.value = "1";
                    else
                        document.forms["Calculo"].wccisterna.value = "0";
                    if (wc2var == "10") 
                        document.forms["Calculo"].wcsistema.value = "1";
                    else
                        document.forms["Calculo"].wcsistema.value = "0";
                }
            }
            else{
                form.wc3cam.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaWc(form){
            form.wc1cam.value = "";
            form.wc2cam.selectedIndex = 1;
            form.wc3cam.value = "";
        }
        
        function ducha(form) {
            var ducha1var = form.ducha1cam.value;
            var ducha2var = form.ducha2cam.value;
            var ducha3var = form.ducha3cam.value;
            var ducha4var = form.ducha4cam.options[form.ducha4cam.selectedIndex].value;
            var ducha5var = form.ducha5cam.value;
            var ducha6var = form.ducha6cam.value;
            var ducha7var = form.ducha7cam.value;
            var ducha8var = form.ducha8cam.options[form.ducha8cam.selectedIndex].value;
        
            if (EsNumero(ducha1var) && EsNumero(ducha2var) && EsNumero(ducha3var) && EsNumero(ducha5var) && EsNumero(ducha6var) && EsNumero(ducha7var)){
                if (ducha1var != "" && ducha2var != "" && ducha3var != "" && ducha4var != "" && ducha5var != "" && ducha6var != "" && ducha7var != "" && ducha8var != ""){
                    form.ducha9cam.value = Math.round(((ducha4var * (ducha1var / 7) * ducha2var * 365) -+- (200 * ducha3var)) -+- (((ducha5var * 3 * 365)-+-(ducha6var * 2 * 365)-+-(ducha7var * 5* 12)) * ducha8var));
                    
                    if (ducha2var > 5) 
                        document.forms["Calculo"].duchatiempo.value = "1";
                    else
                        document.forms["Calculo"].duchatiempo.value = "0";
                    if (ducha3var > 10) 
                        document.forms["Calculo"].duchabano.value = "1";
                    else
                        document.forms["Calculo"].duchabano.value = "0";
                    if (ducha4var == "9") 
                        document.forms["Calculo"].duchasistema.value = "1";
                    else
                        document.forms["Calculo"].duchasistema.value = "0";
                    if (ducha8var == "1.5") 
                        document.forms["Calculo"].duchagrifo.value = "1";
                    else
                        document.forms["Calculo"].duchagrifo.value = "0";
                 }
            }
            else{
                form.ducha9cam.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaDucha(form){
            form.ducha1cam.value = "";
            form.ducha2cam.value = "";
            form.ducha3cam.value = "";
            form.ducha4cam.selectedIndex = 1;
            form.ducha5cam.value = "";
            form.ducha6cam.value = "";
            form.ducha7cam.value = "";
            form.ducha8cam.selectedIndex = 1;
            form.ducha9cam.value = "";
        }
        
        function cocina(form) {
            var cocina1var = (form.cocina1cam.options[form.cocina1cam.selectedIndex].value);
            
            if (cocina1var != ""){
                form.cocina2cam.value = (cocina1var);
                
                if (cocina1var == "8000") 
                    document.forms["Calculo"].cocinalavavajillas.value = "1";
                else {
                    if (cocina1var == "7200")
                        document.forms["Calculo"].cocinalavavajillas.value = "2";
                    else
                        document.forms["Calculo"].cocinalavavajillas.value = "0";
                }
            }
        }
        
        function inicializaCocina(form){
            form.cocina1cam.selectedIndex = 0;
            form.cocina2cam.value = "";
        }
        
        function lavado(form) {
            var lavado1var = form.lavado1cam.options[form.lavado1cam.selectedIndex].value;
            var lavado2var = form.lavado2cam.options[form.lavado2cam.selectedIndex].value;
            var lavado3var = form.lavado3cam.options[form.lavado3cam.selectedIndex].value;
            var lavado4var = form.lavado4cam.value;
            var lavado5var = form.lavado5cam.value;
            
            if (EsNumero(lavado4var) && EsNumero(lavado5var)){
                if ((lavado1var != "") && (lavado2var != "") && (lavado3var != "") && (lavado4var != "") && (lavado5var != "")){
                    form.lavado6cam.value = Math.round((lavado4var/lavado5var)*65*52*lavado1var*lavado2var*lavado3var);
                    
                    if (lavado1var == "1.2") 
                        document.forms["Calculo"].lavadolavadora.value = "1";
                    else
                        document.forms["Calculo"].lavadolavadora.value = "0";
                    if (lavado2var == "1.2") 
                        document.forms["Calculo"].lavadollena.value = "1";
                    else
                        document.forms["Calculo"].lavadollena.value = "0";
                    if (lavado3var == "1.5") 
                        document.forms["Calculo"].lavadoprograma.value = "1";
                    else
                        document.forms["Calculo"].lavadoprograma.value = "0";
                    if (lavado4var > 2) 
                        document.forms["Calculo"].lavadonumero.value = "1";
                    else
                        document.forms["Calculo"].lavadonumero.value = "0";
                }
            }
            else{
                form.lavado6cam.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaLavado(form){
            form.lavado1cam.selectedIndex = 0;
            form.lavado2cam.selectedIndex = 0;
            form.lavado3cam.selectedIndex = 1;
            form.lavado4cam.value = "";
            form.lavado5cam.value = "";
            form.lavado6cam.value = "";
        }
        
        function plantas(form){
            var plantas1var = (form.plantas1cam.options[form.plantas1cam.selectedIndex].value);
            var plantas2var = (form.plantas2cam.value);
            var plantas3var = (form.plantas3cam.options[form.plantas3cam.selectedIndex].value);
            var plantas4var = (form.plantas4cam.options[form.plantas4cam.selectedIndex].value);
            
            if (EsNumero(plantas2var)){
                if (plantas1var != "" && plantas2var != "" && plantas3var != "" && plantas4var != ""){
                    form.plantas5cam.value = Math.round((plantas2var * plantas3var * plantas4var) -+- plantas1var);
                    
                    if (plantas2var > 60) 
                        document.forms["Calculo"].plantasmetros.value = "3";
                    else{
                        if (plantas2var > 20) 
                            document.forms["Calculo"].plantasmetros.value = "2";
                        else{
                            if (plantas2var > 4) 
                                document.forms["Calculo"].plantasmetros.value = "1";
                            else
                                document.forms["Calculo"].plantasmetros.value = "0";
                        }
                    }
                    if (plantas3var == "1200") 
                        document.forms["Calculo"].plantasfrecuencia.value = "1";
                    else
                        document.forms["Calculo"].plantasfrecuencia.value = "0";
                    if (plantas4var == "1.5"){
                        if (plantas2var > 60) 
                            document.forms["Calculo"].plantaseconomizador.value = "2";
                        else
                            document.forms["Calculo"].plantaseconomizador.value = "1";
                    }
                    else
                        document.forms["Calculo"].plantaseconomizador.value = "0";
                }
            }
            else{
                form.plantas5cam.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaPlantas(form){
            form.plantas1cam.selectedIndex = 0;
            form.plantas2cam.value = "";
            form.plantas3cam.selectedIndex = 0;
            form.plantas4cam.selectedIndex = 0;
            form.plantas5cam.value = "";
        }
        
        function total(form) {
            var wc3var = form.wc3cam.value,
            ducha9var = form.ducha9cam.value,
            cocina2var = form.cocina2cam.value,
            lavado6var = form.lavado6cam.value,
            plantas5var = form.plantas5cam.value,
            totalvar = form.totalcam.value,
            total2var = form.total2cam.value,
            total3var = form.total3cam.value,
            $send_data = $('.send-data'),
            $people_house_quantity = $('#id_people_house_quantity'),
            $total_litre = $('#id_total_litre'),
            $dwa_difference = $('#id_dwa_difference'),
            $dwa_percentage = $('#id_dwa_percentage'),
            $total_hm = $('#id_total_hm');

            if (wc3var != "" && ducha9var != "" && cocina2var != "" && lavado6var != "" && plantas5var != ""){
                form.totalcam.value = Math.round(wc3var -+- ducha9var -+- cocina2var -+- lavado6var -+- plantas5var -+- 11000);
                form.total2cam.value = Math.round(wc3var -+- ducha9var -+- cocina2var -+- lavado6var -+- plantas5var -+- 11000 - 60000);
                form.total3cam.value = Math.round(((wc3var -+- ducha9var -+- cocina2var -+- lavado6var -+- plantas5var -+- 11000) * (100)) / 60000);
                form.total4cam.value = Math.round(((wc3var -+- ducha9var -+- cocina2var -+- lavado6var -+- plantas5var -+- 11000)/(1000)) * 2.15);
                $people_house_quantity.val(form.lavado5cam.value);
                $total_litre.val(form.totalcam.value);
                $dwa_difference.val(form.total2cam.value);
                $dwa_percentage.val(form.total3cam.value);
                $total_hm.val(form.total4cam.value);
                $send_data.removeClass('hide');
            }
            else{
                alert("Para conocer el resultado de la encuesta debes completar todos los apatados anteriores.");
            }
        }
        
        function analisis(form){
            var porcentajevar = document.forms["Calculo"].total3cam.value;
        
            if (porcentajevar == "") {
                alert("Para conocer el análisis de tu caso debes realizar el cálculo general.");
            }
            else{
                if (porcentajevar>180)
                    form.consumoagua.value = 5;
                else{
                    if (porcentajevar>120)
                        form.consumoagua.value = 4;
                    else{
                        if (porcentajevar>80)
                            form.consumoagua.value = 3;
                        else{
                            if (porcentajevar>50)
                                form.consumoagua.value = 2;
                            else{
                                form.consumoagua.value = 1;
                            }
                        }
                    }
                }
                document.forms["Calculo"].submit();
            }
        }

        $('#send-data').on('click',function(){
          $('#data-modal').modal('show');
        });
        
        $('.alert-danger > p > a').on('click',function(){
            history.back();
          });
        $( document ).ready(function() {
            total_hm = Number($('#id_total_hm').val());
            $send_data = $('.send-data');
            if(total_hm != 0){
              $send_data.removeClass('hide');
            }
          });
  </script>

{% endblock %}
