{% extends 'footprint.html' %}
{% block extrahead %}
<!-- CSS Customization -->
<link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
{% endblock %}
{% block main_content %}
<div id="central">
{% if messages.showError == True%}
  <div class="alert alert-danger">
      <h4>Ups!</h4>
      <p>Ha ocurrido un error,  Vuelve a intentarlo</p>
      <p>
        <a class="btn-u btn-u-sea" href="">Volver</a>
      </p>
  </div>
{% elif messages.showError == False%}
 <div class="alert alert-success">
      <h4>Gracias!</h4>
      <p>Los datos fueron enviados correctamente.</p>
      <p>
        <a class="btn-u btn-u-sea" href="/">Ir al Home</a>
      </p>
  </div>
{% else %}
	<form action="" name="Calculo" class="sky-form">
            <header>Calcula tu Consumo</header>
                    <fieldset>
                        <section class="col col-12">
                            <label class="label">Indica el número de trayectos semanales en cada uno de los medios de transporte
							y el tiempo aproximado de duración para cada medio en minutos, en condiciones de tráfico fluido.</label>
                        </section>

                        <div class="col-md-12">
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Nº de viajes en bus urbano</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                <input type="text" class="campo" name="busur1" id="busur1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
							    	<input type="text" class="campo" name="busur2" id="busur2" size="6" onfocus="select()"> Minutos
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                             <div class="col-md-12">
                             <div class="col-md-4">
                             	<label class="label">Nº de viajes en bus interurbano</label>
							 </div>
                             <div class="col-md-6">
	                              <div class="inline-group">
	                                <label class="">
	                                <input type="text" class="campo" name="businter1" id="businter1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
							    	<input type="text" class="campo" name="businter2" id="businter2" size="6" onfocus="select()"> Minutos
	                                </label>
	                              </div>
                            </div>
                            </div>
                            </section>
                             <section class="">
                              <div class="col-md-12">
	                              <div class="col-md-4">
	                              	<label class="label">Nº de viajes en metro</label>
		                          </div>
	                              <div class="col-md-6">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="metro1" id="metro1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
								    	<input type="text" class="campo" name="metro2" id="metro2" size="6" onfocus="select()"> Minutos
		                                </label>
		                              </div>
	                              </div>
                              </div>
                            </section>
                            <section class="">
                              <div class="col-md-12">
	                              <div class="col-md-4">
	                              	<label class="label">Nº de viajes en tren de cercanías</label>
		                          </div>
	                              <div class="col-md-6">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="tren1" id="tren1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
								    	<input type="text" class="campo" name="tren2" id="tren2" size="6" onfocus="select()"> Minutos
		                                </label>
		                              </div>
	                              </div>
                              </div>
                            </section>
                             <section class="">
                              <div class="col-md-12">
	                              <div class="col-md-4">
	                              	<label class="label">Nº de viajes en coche</label>
		                          </div>
	                              <div class="col-md-6">
		                              <div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="coche1" id="coche1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
								    	<input type="text" class="campo" name="coche2" id="coche2" size="6" onfocus="select()"> Minutos
		                                </label>
		                              </div>
		                           </div>
		                      </div>
                            </section>
                             <section class="">
	                             <div class="col-md-12">
		                              <div class="col-md-4">
		                              	<label class="label">Nº de viajes en moto</label>
			                          </div>
		                              <div class="col-md-6">
			                              <div class="inline-group">
			                                <label class="">
			                                <input type="text" class="campo" name="moto1" id="moto1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
									    	<input type="text" class="campo" name="moto2" id="moto2" size="6" onfocus="select()"> Minutos
			                                </label>
			                              </div>
			                          </div>
			                     </div>
                            </section>
                             <section class="">
                              <div class="col-md-12">
		                              <div class="col-md-4">
		                              	<label class="label">Nº de viajes en transporte por cuenta de la empresa</label>
			                          </div>
		                              <div class="col-md-6">
			                              <div class="inline-group">
			                                <label class="">
			                                <input type="text" class="campo" name="empresa1" id="empresa1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
									    	<input type="text" class="campo" name="empresa2" id="empresa2" size="6" onfocus="select()"> Minutos
			                                </label>
			                              </div>
			                           </div>
			                   </div>
                            </section>
                             <section class="">
                              <div class="col-md-12">
		                              <div class="col-md-4">
		                              	<label class="label">Nº de viajes en bicicleta</label>
			                          </div>
		                              <div class="col-md-6">
			                              <div class="inline-group">
			                                <label class="">
			                                <input type="text" class="campo" name="bic1" id="bic1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
									    	<input type="text" class="campo" name="bic2" id="bic2" size="6" onfocus="select()"> Minutos
			                                </label>
			                              </div>
			                          </div>
			                   </div>
                            </section>
                            <section class="">
                              <div class="col-md-12">
		                              <div class="col-md-4">
		                              	<label class="label">Nº de viajes a pie</label>
			                          </div>
		                              <div class="col-md-6">
			                              <div class="inline-group">
			                                <label class="">
			                                <input type="text" class="campo" name="pie1" id="pie1" size="6" onfocus="select()"> Viajes&nbsp;&nbsp;&nbsp;
									    	<input type="text" class="campo" name="pie2" id="pie2" size="6" onfocus="select()"> Minutos
			                                </label>
			                              </div>
			                          </div>
			                    </div>
                            </section>
                            <section class="col">
	                            <div class="col-md-12">
			                    	<section class="">
			                            <label class="label">Sus viajes domicilio - trabajo en coche, ¿son en coche compartido? </label>
			                             <label class="select">
			                                <select name="compar" id="compar" size="1">
												<option value="1.1" selected="selected">Nunca</option>
												<option value="0.9">A veces</option>
												<option value="0.7">Con frecuencia</option>
												<option value="0.5">Siempre</option>
											</select>
			                                <i></i>
			                             </label>
			                        </section>
			                        <section class="">
			                            <label class="label">Tu coche es</label>
			                             <label class="select">
			                                <select name="modelo" id="modelo" size="1">
												<option value="1">de tamaño medio</option>
												<option value="2">grande o todoterreno</option>
												<option value="0.6">híbrido o de poca cilindrada</option>
												<option value="0.2">eléctrico</option>
											</select>
			                                <i></i>
			                             </label>
			                        </section>
			                        <section class="">
			                            <label class="label">¿Tropieza con atascos y embotellamientos de tráfico?</label>
			                             <label class="select">
			                                <select name="atasco" id="atasco" size="1">
												<option value="0.8" selected="selected">Nunca</option>
												<option value="1">A veces</option>
												<option value="1.2">Con frecuencia</option>
												<option value="1.5">Con mucha frecuencia</option>
											</select>
			                                <i></i>
			                             </label>
			                        </section>
			                    </div>
		                    </section>
                        </div>
                    </fieldset>
                    <header>Resultados de consumo al año</header>
                    <fieldset>
                    <section class="">
                          <label class="label">A continuación vas a conocer los resultados generales de la encuesta</label>
                          <button type="button" class="btn-u btn-u-default" value="Cálculo de consumo al año" class="boton" onclick="trabajo(this.form)">Ver Resultados por Tipo de energ&iacute;a</button>
                    </section>
                    	<div class="col-md-12">
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en viajes en bus urbano</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="busur3" id="busur3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en viajes en bus interurbano</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="businter3" id="businter3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en viajes en metro</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="metro3" id="metro3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en viajes en tren de cercanías</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="tren3" id="tren3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en viajes en coche</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="coche3" id="coche3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo (básico) en viajes en moto</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="moto3" id="moto3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en transporte a cuenta de la empresa</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="empresa3" id="empresa3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo en bicicleta</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="bic3" id="bic3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo a pie</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="pie3" id="pie3" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Consumo total (teniendo en cuenta los atascos y el tipo de coche)</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="totaltrabajo" id="totaltrabajo" size="6" onfocus="select()" disabled> Kep
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>

                            <section class="">
		                          <input type="hidden" value="0" name="atasco2">
		                          <button type="button" class="btn-u btn-u-default" value="Cálculo de distancia recorrida al año" class="boton" onclick="trabajo2(this.form)">Ver Resultados distancia recorrida al año</button>
		                    </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Distancia recorrida</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="distanciatrabajo" id="distanciatrabajo" size="6" onfocus="select()" disabled> Km
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                            <section class="">
                            <div class="col-md-12">
                              <div class="col-md-4">
                              	<label class="label">Distancia recorrida en el coche</label>
                              </div>
                              <div class="col-md-8">
                              	<div class="inline-group">
	                                <label class="">
	                                	<input type="text" class="campo" name="distanciacochetrabajo" id="distanciacochetrabajo" size="6" onfocus="select()" disabled> Km
	                                </label>
	                              </div>
                              </div>
                            </div>
                            </section>
                        </div>
                    </fieldset>

                    <header>Desplazamientos: compras cotidianas</header>
                    <fieldset>
                    	<div class="col-md-12">
                    		<div class="col-md-6">
                    		<section class="">
	                            <label class="label">¿Con qué frecuencia haces las compras de artículos de primera necesidad? (alimentos, artículos de limpieza, etc)</label>
	                             <label class="select">
	                             <select name="frecuencia" id="frecuencia" size="1">
									<option value="20" selected="selected">Todos o casi todos los días</option>
									<option value="6">Una o dos veces a la semana</option>
									<option value="2">Una o dos veces al mes</option>
								  </select>
	                                <i></i>
	                             </label>
                        	</section>
                        	<section class="">
	                            <label class="label">¿Dónde adquiere el mayor volumen de estas compras?</label>
	                             <label class="select">
	                             	<select name="donde" id="donde" size="1">
										<option value="1" selected="selected">Cerca, en el barrio</option>
										<option value="5">En el distrito</option>
										<option value="25">Voy a grandes superficies en la periferia</option>
								  </select>
	                                <i></i>
	                             </label>
                        	</section>
                        	<section class="">
	                            <label class="label">¿Qué medio de transporte usa más habitualmente?</label>
	                             <label class="select">
	                             	<select name="mediocompras" id="mediocompras" size="1">
										<option value="0" selected="selected">Voy a pie</option>
										<option value="40">En transporte público</option>
										<option value="80">En mi coche</option>
								  </select>
	                                <i></i>
	                             </label>
                        	</section>
                            </div>
						</div>
                    	
                	    <section class="">
	                          <button type="button" class="btn-u btn-u-default" value="Cálculo anual" class="boton" onclick="compras(this.form)">Ver Resultado anual</button>
	                    </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Consumo total</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="totalcompras" id="totalcompras" size="6" onfocus="select()" disabled> Kep
                                </label>
                              </div>
                          </div>
                        </div>
                        </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Distancia recorrida</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="distanciacompras" id="distanciacompras" size="6" onfocus="select()" disabled> Km
                                </label>
                              </div>
                          </div>
                        </div>
                       </section>
                    </fieldset>



                    <header>Desplazamientos: viajes varios de cierta regularidad</header>
                    <fieldset>
                    <p> Viajes por otros motivos que se llevan a  cabo con cierta regularidad y en un radio no muy extenso, por motivos  de compras esporádicas, visita a médicos, trámites administrativos,  visitas a amigos y familiares, salidas de ocio (por ejemplo, pasar un  día en el campo), etc. (totales en un año)</p>

                    	<div class="col-md-12">
                    		<div class="col-md-6">
                    		<section class="">
                                <label class="label">Calcule el número de este  tipo de desplazamientos (en los que utiliza algún medio de transporte)  en su misma localidad de residencia</label>
                                <label class="input col-3">
                                    <input type="text" id="nvarios" name="nvarios" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                    		<section class="">
	                            <label class="label">¿Y en qué medio de transporte los hace habitualmente?</label>
	                             <label class="select">
	                             <select name="mediovarios" id="mediovarios" size="1">
										<option value="0.25" selected="selected">Transporte público</option>
										<option value="0.75">El coche</option>
							    </select>
	                            <i></i>
	                            </label>
                        	</section>
                        	<section class="">
                                <label class="label">Calcule el número de este tipo de desplazamientos que suponen ir a otra localidad de la de residencia</label>
                                <label class="input col-3">
                                    <input type="text" id="nvarioslejos" name="nvarioslejos" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                            <section class="">
	                            <label class="label">¿Qué medio de transporte usa más habitualmente? </label>
	                             <label class="select">
	                             <select name="mediovarioslejos" id="mediovarioslejos" size="1">
										<option value="0.75" selected="selected">Transporte público</option>
										<option value="2.25">El coche</option>
							    </select>
	                            <i></i>
	                            </label>
                        	</section>
                            </div>
						</div>
                    	
                	    <section class="">
	                          <button type="button" class="btn-u btn-u-default" class="boton" onclick="varios(this.form)" value="Cálculo anual">Ver Resultado anual</button>
	                    </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Consumo total</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="totalvarios" id="totalvarios" size="6" onfocus="select()" disabled> Kep
                                </label>
                              </div>
                          </div>
                        </div>
                        </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Distancia recorrida</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="distanciavarios" id="distanciavarios" size="6" onfocus="select()" disabled> Km
                                </label>
                              </div>
                          </div>
                        </div>
                       </section>
                    </fieldset>

                    <header>Las vacaciones</header>
                    <fieldset>
                    <p> Implican pasar al menos una noche fuera del domicilio habitual y salir fuera de la provincia o Comunidad Autónoma   </p>
                    	<div class="col-md-12">
                    		<div class="col-md-6">
                    		<section class="">
                                <label class="label">Nº de viajes de corto radio (sin salir del país)</label>
                                <label class="input col-3">
                                    <input type="text" id="viajescortos" name="viajescortos" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                    		<section class="">
	                            <label class="label">Principal medio de transporte usado para los desplazamientos más largos</label>
	                             <label class="select">
	                             <select name="mediocortos" id="mediocortos" size="1">
										<option value="18.9" selected="selected">Tren o autobús</option>
										<option value="45">El coche</option>
							    </select>
	                            <i></i>
	                            </label>
                        	</section>
                        	<section class="">
                                <label class="label">Nº de viajes de medio radio (fuera del país) </label>
                                <label class="input col-3">
                                    <input type="text" id="viajesmedios" name="viajesmedios" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                            <section class="">
	                            <label class="label">¿Qué medio de transporte usas más habitualmente ? </label>
	                             <label class="select">
	                             <select name="mediomedios" id="mediomedios" size="1">
									<option value="50">Tren o autobús</option>
									<option value="125">En coche</option>
									<option value="100">En avión</option>
						         </select>
	                            <i></i>
	                            </label>
                        	</section>
                        	<section class="">
                                <label class="label">Nº de viajes de largo radio (más de 5.000 Km, o a otros continentes)</label>
                                <label class="input col-3">
                                    <input type="text" id="viajeslargos" name="viajeslargos" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                            </div>
						</div>
                    	
                	    <section class="">
	                          <button type="button" class="btn-u btn-u-default" class="boton" onclick="viajes(this.form)" value="Cálculo anual">Ver Resultado anual</button>
	                    </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Consumo total</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="totalviajes" id="totalviajes" size="6" onfocus="select()" disabled> Kep
                                </label>
                              </div>
                          </div>
                        </div>
                        </section>
                        <section class="">
                        <div class="col-md-12">
                          <div class="col-md-4">
                          	<label class="label">Distancia recorrida</label>
                          </div>
                          <div class="col-md-8">
                          	<div class="inline-group">
                                <label class="">
                                	<input type="text" class="campo" name="distanciaviajes" id="distanciaviajes" size="6" onfocus="select()" disabled> Km
                                </label>
                              </div>
                          </div>
                        </div>
                       </section>
                    </fieldset>

                	<header>Resultados</header>
                      <fieldset>
                          <label class="label">A continuación vas a conocer los resultados generales de la encuesta</label>
                          <section>
                              <button type="button" class="btn-u btn-u-default" class="boton2" onclick="total(this.form)">Ver resultados</button>
                          </section>

                          <div class="col-md-12">
                            <section class="">
	                            <div class="col-md-12">
	                              <div class="col-md-8">
	                              	<label class="label">Consumo total en tus desplazamientos</label>
	                              </div>
	                              <div class="col-md-4">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="consumototal" id="consumototal" size="6" onfocus="select()" disabled> kep
		                                </label>
		                              </div>
	                              </div>
	                            </div>
                            </section>
                            <section class="">
	                            <div class="col-md-12">
	                              <div class="col-md-8">
	                              	<label class="label">Distancia recorrida</label>
	                              </div>
	                              <div class="col-md-4">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="distanciatotal" id="distanciatotal" size="6" onfocus="select()" disabled> Km
		                                </label>
		                              </div>
	                              </div>
	                            </div>
                            </section>
                            <section class="">
	                            <div class="col-md-12">
	                              <div class="col-md-8">
	                              	<label class="label">Nº equivalente de vueltas al planeta</label>
	                              </div>
	                              <div class="col-md-4">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="vueltasplaneta" id="vueltasplaneta" size="6" onfocus="select()" disabled>
		                                </label>
		                              </div>
	                              </div>
	                            </div>
                            </section>
                            <section class="">
	                            <div class="col-md-12">
	                              <div class="col-md-8">
	                              	<label class="label">Gasto medio en combustible por cada 100 Km.</label>
	                              </div>
	                              <div class="col-md-4">
	                              	<div class="inline-group">
		                                <label class="">
		                                <input type="text" class="campo" name="gastomedio" id="gastomedio" size="6" onfocus="select()" disabled>kep
		                                </label>
		                              </div>
	                              </div>
	                            </div>
                            </section>
                            <section class="send-data hide">
                                <label class="label"><strong>Puedes compartir los datos con nosotros de forma anónima. Haz Click en el botón y escribe lo que vez en la imagen.</strong></label>
                                <button id="send-data" type="button" class="btn-u">Enviar resultados</button>
                            </section>
                          </div>

                      </fieldset>
                      	<input type="hidden" value="0" name="trabajocompartido">
						<input type="hidden" value="0" name="trabajoatascos">
						<input type="hidden" value="0" name="trabajodistancia">
						<input type="hidden" value="0" name="trabajodistanciacoche">
						<input type="hidden" value="0" name="comprasvolumen">
						<input type="hidden" value="0" name="comprastransporte">
						<input type="hidden" value="0" name="vacacionescorto">
						<input type="hidden" value="0" name="vacacionesmedio">
						<input type="hidden" value="0" name="vacacioneslargo">
						<input type="hidden" value="0" name="gastotransporte">
                </form>
         <!-- Bootstrap Modals With Forms -->
          <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Enviar Resultados</h4>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <form id="data-analysis" role="form" action="." method="post" class="sky-form">
                              <fieldset>
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                  {% if field.html_name != 'captcha' %}
                                    {{ field.as_hidden }}
                                  {% else %}
                                    {{ field }}
                                  {% endif %}
                                {% endfor %}
                              <button type="submit" class="btn-u btn-u-default" class="boton2">Enviar</button>
                              </fieldset>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Bootstrap Modals With Forms -->
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
        <!--
        // Todos los carecteres son numeros
        function EsNumero(Dato) {
            var CadenaNumeros="0123456789";
            var EsteCaracter;
            var Contador = 0;
            
            for (var i=0; i < Dato.length; i++) {
                EsteCaracter = Dato.substring(i, i+1);
                if (CadenaNumeros.indexOf(EsteCaracter) != -1) Contador ++;
            }
            if (Contador == Dato.length) return true;
            else return false;
        }
        
        function trabajo(form) {
            var busur1var = form.busur1.value;
            var businter1var = form.businter1.value;
            var metro1var = form.metro1.value;
            var tren1var = form.tren1.value;
            var coche1var = form.coche1.value;
            var moto1var = form.moto1.value;
            var empresa1var = form.empresa1.value;
            var bic1var = form.bic1.value;
            var pie1var = form.pie1.value;
            var busur2var = form.busur2.value;
            var businter2var = form.businter2.value;
            var metro2var = form.metro2.value;
            var tren2var = form.tren2.value;
            var coche2var = form.coche2.value;
            var moto2var = form.moto2.value;
            var empresa2var = form.empresa2.value;
            var bic2var = form.bic2.value;
            var pie2var = form.pie2.value;
            var comparvar = form.compar.options[form.compar.selectedIndex].value;
            var modelovar = form.modelo.options[form.modelo.selectedIndex].value;
            var atascovar = form.atasco.options[form.atasco.selectedIndex].value;
            
            if (EsNumero(busur1var) && EsNumero(businter1var) && EsNumero(metro1var) && EsNumero(tren1var) && EsNumero(coche1var) && EsNumero(moto1var) && EsNumero(empresa1var) && EsNumero(busur2var) && EsNumero(businter2var) && EsNumero(metro2var) && EsNumero(tren2var) && EsNumero(coche2var) && EsNumero(moto2var) && EsNumero(empresa2var) && EsNumero(pie1var) && EsNumero(pie2var) && EsNumero(bic1var) && EsNumero(bic2var)){
                //if (busur1var != "" && businter1var != "" && metro1var != "" && tren1var != "" && coche1var != "" && empresa1var != "" && busur2var != "" && businter2var != "" && metro2var != "" && tren2var != "" && coche2var != "" && empresa2var != "" && pie1var != "" && pie2var != ""){	
                    if (atascovar == "0.8") form.atasco2.value = 25;
                    if (atascovar == "1") form.atasco2.value = 15;
                    if (atascovar == "1.2") form.atasco2.value = 10;
                    if (atascovar == "1.5") form.atasco2.value = 5;
                
                    if (comparvar == "1.1") 
                        document.forms["Calculo"].trabajocompartido.value = "1";
                    else {
                        if (comparvar == "0.9") 
                            document.forms["Calculo"].trabajocompartido.value = "2";
                        else
                            document.forms["Calculo"].trabajocompartido.value = "3";
                    }
                    if (atascovar == "1.2" || atascovar == "1.5") 
                        document.forms["Calculo"].trabajoatascos.value = "1";
                    else
                        document.forms["Calculo"].trabajoatascos.value = "0";
                        
                    form.busur3.value = Math.round (busur1var * busur2var * 0.25);
                    form.businter3.value = Math.round (businter1var * businter2var * 0.5);
                    form.metro3.value = Math.round (metro1var * metro2var * 0.27);
                    form.tren3.value = Math.round (tren1var * tren2var * 0.43);
                    form.coche3.value = Math.round (coche1var * coche2var * 1.73);
                    form.moto3.value = Math.round (moto1var * moto2var * 0.86);
                    form.empresa3.value = Math.round (empresa1var * empresa2var * 0.25);
                    //form.pie3.value = Math.round (pie1var * pie2var * 0.06 * 48);
                    form.bic3.value = 0;
                    form.pie3.value = 0;
                    form.totaltrabajo.value = Math.round ((empresa1var * empresa2var * 0.25) -+- (busur1var * busur2var * 0.25) -+- (businter1var * businter2var * 0.5) -+- (metro1var * metro2var * 0.27) -+- (tren1var * tren2var * 0.43) -+- (moto1var * moto2var * 0.86) -+- ((coche1var * coche2var * 1.73) * comparvar *modelovar * atascovar));
                //}
            }
            else{
                form.bic3.value = "";
                form.pie3.value = "";
                form.empresa3.value = "";
                form.coche3.value = "";
                form.moto3.value = "";
                form.busur3.value = "";
                form.businter3.value = "";
                form.metro3.value = "";
                form.tren3.value = "";
                form.empresa3.value = "";
                form.atasco2.value = "";
                form.totaltrabajo.value = "";
                form.distanciacochetrabajo.value = "";
                form.distanciatrabajo.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function trabajo2(form) {
            var coc = form.coche3.value;
            var mot = form.moto3.value;
            var buu = form.busur3.value;
            var bui = form.businter3.value;
            var met = form.metro3.value;
            var tce = form.tren3.value;
            var emp = form.empresa3.value;
            //var pie = form.pie3.value;
            var pie1var = form.pie1.value;
            var pie2var = form.pie2.value;
            var bic1var = form.bic1.value;
            var bic2var = form.bic2.value;
			var bic = 0;
			var pie = 0;
            if (pie1var != "" && pie2var != "") pie = (pie1var * pie2var * 0.06);
            if (bic1var != "" && bic2var != "") bic = (bic1var * bic2var * 0.2);
            var atasco2var = form.atasco2.value;
            if (coc != "" && mot != "" && buu != "" && bui != "" && met != "" && tce != "" && emp != ""  && atasco2var != ""){				
                form.distanciacochetrabajo.value = Math.round (coc * atasco2var);
                form.distanciatrabajo.value = Math.round ((((pie / 48) -+- (bic / 48) -+- (emp / 35) -+- (buu / 35) -+- (bui / 21) -+- (met / 23) -+- (mot / 21) -+- (tce / 18)) * 1000) -+- (coc * atasco2var));
                    
                if (form.distanciatrabajo.value > 10000) 
                    document.forms["Calculo"].trabajodistancia.value = "1";
                else
                    document.forms["Calculo"].trabajodistancia.value = "0";
                if ((form.distanciacochetrabajo.value / form.distanciatrabajo.value)  > 0.80) 
                    document.forms["Calculo"].trabajodistanciacoche.value = "1";
                else
                    document.forms["Calculo"].trabajodistanciacoche.value = "0";
            }
        }
        
        function compras(form) {
            var frecuenciavar = form.frecuencia.options[form.frecuencia.selectedIndex].value;
            var dondevar = form.donde.options[form.donde.selectedIndex].value;
            var mediocomprasvar = form.mediocompras.options[form.mediocompras.selectedIndex].value;
            
            if (dondevar == "25") 
                document.forms["Calculo"].comprasvolumen.value = "1";
            else
                document.forms["Calculo"].comprasvolumen.value = "0";
            if (mediocomprasvar == "80") 
                document.forms["Calculo"].comprastransporte.value = "1";
            else
                document.forms["Calculo"].comprastransporte.value = "0";
                        
            form.totalcompras.value = Math.round (frecuenciavar * dondevar * mediocomprasvar * 0.012);
            form.distanciacompras.value = Math.round (frecuenciavar * dondevar * 12);
        }
        
        function inicializaCompras(form) {
            form.frecuencia.selectedIndex = 0;
            form.donde.selectedIndex = 0;
            form.mediocompras.selectedIndex = 0;
            form.totalcompras.value = "";
            form.distanciacompras.value = "";
        }
        
        function varios(form) {
            var nvariosvar = form.nvarios.value;
            var mediovariosvar = form.mediovarios.options[form.mediovarios.selectedIndex].value;
            var nvarioslejosvar = form.nvarioslejos.value;
            var mediovarioslejosvar = form.mediovarioslejos.options[form.mediovarioslejos.selectedIndex].value;
            
            if (EsNumero(nvariosvar) && EsNumero(nvarioslejosvar)){
                //if (nvariosvar != "" && nvarioslejosvar != ""){
                    form.totalvarios.value = Math.round ((nvariosvar * mediovariosvar) -+- (nvarioslejosvar * mediovarioslejosvar));
                    form.distanciavarios.value = Math.round ((nvariosvar * 10) -+- (nvarioslejosvar * 30));
                //}
            }
            else{
                form.totalvarios.value = "";
                form.distanciavarios.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaVarios(form) {
            form.nvarios.value = "";
            form.mediovarios.selectedIndex = 0;
            form.nvarioslejos.value = "";
            form.mediovarioslejos.selectedIndex = 0;
            form.totalvarios.value = "";
            form.distanciavarios.value = "";
        }
        
        function viajes(form) {
            var viajescortosvar = form.viajescortos.value;
            var mediocortosvar = form.mediocortos.options[form.mediocortos.selectedIndex].value;
            var viajesmediosvar = form.viajesmedios.value;
            var mediomediosvar = form.mediomedios.options[form.mediomedios.selectedIndex].value;
            var viajeslargosvar = form.viajeslargos.value;
        
            if (EsNumero(viajescortosvar) && EsNumero(viajesmediosvar) && EsNumero(viajeslargosvar)){
                //if (viajescortosvar != "" && viajesmediosvar != "" && viajeslargosvar != ""){
                    if (mediocortosvar == "45") 
                        document.forms["Calculo"].vacacionescorto.value = "1";
                    else
                        document.forms["Calculo"].vacacionescorto.value = "0";
                    if (mediomediosvar == "125") 
                        document.forms["Calculo"].vacacionesmedio.value = "1";
                    else
                        document.forms["Calculo"].vacacionesmedio.value = "0";
                    if (viajeslargosvar > 10) 
                        document.forms["Calculo"].vacacioneslargo.value = "1";
                    else
                        document.forms["Calculo"].vacacioneslargo.value = "0";
                
                    form.totalviajes.value = Math.round ((viajescortosvar * mediocortosvar) -+- (viajesmediosvar * mediomediosvar) -+- (viajeslargosvar * 300));
                    form.distanciaviajes.value = Math.round ((viajescortosvar * 900) -+- (viajesmediosvar * 2500) -+- (viajeslargosvar * 10000));
                //}
            }
            else{
                form.totalviajes.value = "";
                form.distanciaviajes.value = "";
                alert("El valor de los campos deben ser numéricos");
            }
        }
        
        function inicializaViajes(form) {
            form.viajescortos.value = "";
            form.mediocortos.selectedIndex = 0;
            form.viajesmedios.value = "";
            form.mediomedios.selectedIndex = 0;
            form.viajeslargos.value = "";
            form.totalviajes.value = "";
            form.distanciaviajes.value = "";
        }
        
        function total(form) {
            var totaltrabajovar = form.totaltrabajo.value,
            distanciatrabajovar = form.distanciatrabajo.value,
            totalcomprasvar = form.totalcompras.value,
            distanciacomprasvar = form.distanciacompras.value,
            totalvariosvar = form.totalvarios.value,
            distanciavariosvar = form.distanciavarios.value,
            totalviajesvar = form.totalviajes.value,
            distanciaviajes = form.distanciaviajes.value,
            $urban_journey_bus_kep = $("#id_urban_journey_bus_kep"),
			$interurban_journey_bus_kep = $("#id_interurban_journey_bus_kep"),
			$journey_metro_kep = $("#id_journey_metro_kep"),
			$journey_train_kep = $("#id_journey_train_kep"),
			$journey_car_kep = $("#id_journey_car_kep"),
			$journey_motorcycle_kep = $("#id_journey_motorcycle_kep"),
			$journey_bicycle_kep = $("#id_journey_bicycle_kep"),
			$journey_foot_kep = $("#id_journey_foot_kep"),
			$journey_total_kep = $("#id_journey_total_kep"),
			$displacements_total_kep = $("#id_displacements_total_kep"),
			$distance_total_km = $("#id_distance_total_km"),
			$times_around_world = $("#id_times_around_world"),
			$combustible_waste_kep = $("#id_combustible_waste_kep"),
			$send_data = $('.send-data');
            
            if (totaltrabajovar != "" && totalcomprasvar != "" && totalvariosvar != "" && totalviajesvar != "" && distanciatrabajovar != "" && distanciacomprasvar != "" && distanciavariosvar != "" && distanciaviajes != ""){		
                form.consumototal.value = (totaltrabajovar -+- totalcomprasvar -+- totalvariosvar -+- totalviajesvar);
                form.distanciatotal.value = (distanciatrabajovar -+- distanciacomprasvar -+- distanciavariosvar -+- distanciaviajes);
                form.vueltasplaneta.value = Math.round(parseInt(((distanciatrabajovar -+- distanciacomprasvar -+- distanciavariosvar -+- distanciaviajes)/40000)*1000)/10)/100;
                form.gastomedio.value = Math.round ((totaltrabajovar -+- totalcomprasvar -+- totalvariosvar -+- totalviajesvar)/((distanciatrabajovar -+- distanciacomprasvar -+- distanciavariosvar -+- distanciaviajes)/100));

                $urban_journey_bus_kep.val(form.busur3.value);
				$interurban_journey_bus_kep.val(form.businter3.value);
				$journey_metro_kep.val(form.metro3.value);
				$journey_train_kep.val(form.tren3.value);
				$journey_car_kep.val(form.coche3.value);
				$journey_motorcycle_kep.val(form.moto3.value);
				$journey_bicycle_kep.val(form.bic3.value);
				$journey_foot_kep.val(form.pie3.value);	
				$journey_total_kep.val(form.totaltrabajo.value);
				$displacements_total_kep.val(form.consumototal.value);
				$distance_total_km.val(form.distanciatotal.value);
				$times_around_world.val(form.vueltasplaneta.value);
				$combustible_waste_kep.val(form.gastomedio.value);
				$send_data.removeClass('hide');
            }
            else{
                alert("Para conocer el resultado de la encuesta debes completar todos los apatados anteriores.");
            }
        }
        
        function analisis(form){
            var gastomediovar = document.forms["Calculo"].gastomedio.value;
        
            if (gastomediovar == "") {
                alert("Para conocer el análisis de tu caso debes realizar el cálculo general.");
            }
            else{
                if (gastomediovar>9)
                    form.gastotransporte.value = 4;
                else{
                    if (gastomediovar>6)
                        form.gastotransporte.value = 3;
                    else{
                        if (gastomediovar>3)
                            form.gastotransporte.value = 2;
                        else{
                            form.gastotransporte.value = 1;
                        }
                    }
                }
                document.forms["Calculo"].submit();
            }
        }
		$('#send-data').on('click',function(){
             $('#data-modal').modal('show');
        });

        $('.alert-danger > p > a').on('click',function(){
            history.back();
        });
        $( document ).ready(function() {
            distance_total_km = Number($('#distance_total_km').val());
            $send_data = $('.send-data');
            if(distance_total_km != 0){
              $send_data.removeClass('hide');
            }
          });
        </script>
{% endblock %}
