{% extends 'base.html' %}

{% block content %}
<!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">
            <div class="col-md-9">
            	{% block main_content %}
	                <!-- Our Services -->
	                <div class="headline"><h2>¿Qué es la Huella Ecológica?</h2></div>
	                <div class="row margin-bottom-20">
	                    <div class="col-md-12">
	                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/-hGbTyiyDOQ?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
	                    </div>
	                </div><!--/welcome-block-->
	                <!-- End Our Services -->

	                <!-- Blockquotes -->
	                <p>Es un cálculo que permite medir el impacto de nuestra forma de vida y nuestras acciones. Se analizan nuestros hábitos en comida, transporte, habitación y producción de residuos. Luego se calcula en hectáreas el espacio necesario para reproducir ese tipo de vida. Puede calcularse por persona, por ciudad, por país.</p>
	                <br>
	                <blockquote class="hero-unify margin-bottom-40">
	                    <p>El peligro radica en que nuestro poder para dañar o destruir el medio ambiente, o al prójimo, aumenta a mucha mayor velocidad que nuestra sabiduría en el uso de ese poder.</p>
	                    <small>Stephen Hawking</small>
	                </blockquote>            
	                <!-- End Blockquotes -->
                {% endblock %}
            </div>
            <!--/col-md-9-->
            <div class="col-md-3">
            	{% block right_sidebar_content %}      
	                <!-- Posts -->
	                <div class="posts margin-bottom-30">
	                    <div class="headline"><h2>Calcula Tu Huella</h2></div>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/huella/agua"><img src="{{PROJECT_STATIC_PATH}}assets/img/footprint/footprint_water.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/huella/agua">Tu consumo de agua anual</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/huella/energia"><img src="{{PROJECT_STATIC_PATH}}assets/img/footprint/footprint_energy.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/huella/energia">Energía que utilizas al año</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/huella/residuos"><img src="{{PROJECT_STATIC_PATH}}assets/img/footprint/footprint_waste.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/huella/residuos">Mide tus desechos</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/huella/transporte"><img src="{{PROJECT_STATIC_PATH}}assets/img/footprint/footprint_transport.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/huella/transporte">Consumo en transporte y de los kilómetros que recorres a lo largo de un año</a></p> 
	                        </dd>
	                    </dl>
	                </div>
	                <!--/posts-->
                {% endblock %}
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->     
    <!--=== End Content Part ===-->
{% endblock %}
