<!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
 
                </div><!--/col-md-4-->  
                
                <div class="col-md-4 md-margin-bottom-40">
                  
                </div><!--/col-md-4-->

                <div class="col-md-4">

                </div><!--/col-md-4-->
            </div>
        </div> 
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2016 &copy; ECO. ALL Rights Reserved. 
                    </p>
                </div>
                <div class="col-md-6">  
                    <a href="/">
                       <!-- <img class="pull-right" id="logo-footer" src="{{PROJECT_STATIC_PATH}}assets/img/logo2-default.png" alt="">-->
                       <h1>ECO</h1>
                    </a>
                </div>
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->