{% extends 'footprint.html' %}

{% block extrahead %}
<!-- CSS Customization -->
<link rel="stylesheet" href="{{PROJECT_STATIC_PATH}}assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
{% endblock %}

{% block main_content %}
<div id="central">
{% if messages.showError == True%}
  <div class="alert alert-danger">
      <h4>Ups!</h4>
      <p>Ha ocurrido un error,  Vuelve a intentarlo</p>
      <p>
        <a class="btn-u btn-u-sea" href="">Volver</a>
      </p>
  </div>
{% elif messages.showError == False%}
 <div class="alert alert-success">
      <h4>Gracias!</h4>
      <p>Los datos fueron enviados correctamente.</p>
      <p>
        <a class="btn-u btn-u-sea" href="/">Ir al Home</a>
      </p>
  </div>
{% else %}
                <form action="" name="Calculo" class="sky-form">
                    <header>Calcula tu Consumo</header>
                    <fieldset>
                        <section class="col col-12">
                            <label class="label">Indica el número de personas que habitan la vivienda habitualmente:</label>
                        </section>
                        <section class="col col-2">
                            <label class="input">
                                <input type="text" name="perscam" id="perscam" class="campo" size="8" onfocus="select()">
                            </label>
                        </section>
                    </fieldset>
                    <header>Empecemos por la cocina</header>
                    <fieldset>
                    	<div class="col-md-6">
	                        <section class="">
	                                <label class="label">¿Qué tipo de energía utiliza?</label>
	                                 <label class="select">
	                                    <select name="cocina2cam" id="cocina2cam" size="1">
	                                        <option value="100.0">Propano, butano, GLP</option>
	                                        <option value="100">Gas natural</option>
	                                        <option value="1150">Electricidad</option>
	                                        <option value="100.1">Leña</option>
	                                    </select>
	                                    <i></i>
	                                 </label>
	                        </section>
	                        <section class="">
	                            <label class="label">¿Cuántas veces se cocina aproximadamente<br>en la casa a la semana?<br></label>
	                            <label class="input">
	                                <input type="text" name="cocina3cam" id="cocina3cam" class="campo" size="8" onfocus="select()">
	                            </label>
	                        </section>
                        </div>
                        
                        <div class="col-md-6">
	                        <section class="">
	                                <label class="label">¿Cuál es el tamaño de la cocina?</label>
	                                 <label class="select">
	                                    <select name="cocina1cam" id="cocina1cam" size="1">
	                                        <option value="0.75">Pequeña</option>
	                                        <option value="1">Mediana</option>
	                                        <option value="1.25">Grande</option>
	                                    </select>
	                                    <i></i>
	                                 </label>
	                        </section>
	                        <section class="">
	                            <label class="label">En la cocina además hay...</label>
	                            <div class="inline-group">
	                                <label class="checkbox"><input type="checkbox" value="0" name="cocina4acam" id="cocina4acam" onclick="value=50"><i></i>Horno microondas</label>
	                                <label class="checkbox"><input type="checkbox"  value="0" name="cocina4bcam" id="cocina4bcam" onclick="value=50"><i></i>Horno eléctrico independiente</label>
	                            </div>
	                        </section>
                        </div>

                        <section>
                            <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="cocina(this.form)">Calcular</button>
                        </section>

                        <label class="label">Consumo anual  por el uso de la cocina</label>

                        <div class="row">
                            <section class="col col-3">                            
                                <label class="label">Por Persona</label>
                                <input type="text" class="campo" name="cocina5pcam" id="cocina5pcam" size="8" onfocus="select()" disabled> Kep
                                <div id="dinamicou" class="note"></div>
                            </section>
                            <section class="col col-3">                            
                                <label class="label">Por Hogar</label>
                                <input type="text" class="campo" name="cocina5cam" id="cocina5cam" size="8" onfocus="select()" disabled> Kep
                                <div id="dinamicou2" class="note"></div>
                            </section>
                        </div>
                        <div class="note">La media por hogar de 3 personas es de 100 kep/año o de 1.150 kWh/año</div>
                    </fieldset>

                    <header>Agua caliente, el calentador</header>
                    <fieldset>
                    <div class="col-md-6">
                    	<section class="">
                            <label class="label">¿Qué tipo de combustible utiliza?</label>
                             <label class="select">
                                <select  name="calent1cam" id="calent1cam" size="1">
                                    <option value="200">Carbón</option>
                                    <option value="200.3">Biomasa (leña, pellet, etc.)</option>
                                    <option value="200.0">Gasóleo</option>
                                    <option value="200.1" selected="">Propano, butano (GLP)</option>
                                    <option value="200.2">Gas natural</option>
                                    <option value="2300">Electricidad</option>
                                    <option value="2300.0">Solar</option>
                                </select>
                                <i></i>
                             </label>
                        </section>
                        <section class="">
                            <label class="label">¿Qué tamaño tiene? (flujo de agua por minuto)</label>
                             <label class="select">
                                <select  name="calent3cam" id="calent3cam" size="1">
                                  <option value="1.25" selected="">Es un modelo grande, de más de 10 litros</option>
                                  <option value="1">Es un modelo mediano</option>
                                  <option value="0.75">Es un modelo pequeño de menos de 5 litros</option>
                                </select>
                                <i></i>
                             </label>
                        </section>
                        <section class="">
	                     <label class="label">Indica el número de usos del calentador a la semana (duchas, baños, fregado de cacharros principal)</label>
	                     <label class="input">
	                        <input type="text" name="calent5cam"  id="calent5cam" size="8" onfocus="select()" class="campo">
	                     </label>
	                    </section>
                    </div>
                    <div class="col-md-6">
                    	<section class="">
                            <label class="label">¿Cuándo se instaló?</label>
                             <label class="select">
                                <select  name="calent2cam" id="calent2cam" size="1">
                                   <option value="1.25">Es un modelo antiguo con más de 10 años</option>
                                   <option value="1">Menos de 10 pero más de 2</option>
                                   <option value="0.75">Es un modelo moderno con menos de 2 años</option>
                                </select>
                                <i></i>
                             </label>
                        </section>
                        <section class="">
                            <label class="label">¿A qué temperatura lo sueles emplear?</label>
                             <label class="select">
                                <select  name="calent4cam" id="calent4cam" size="1">
                                  <option value="1.25">Lo más caliente posible</option>
                                  <option value="1">Temperatura moderada</option>
                                  <option value="0.75">Regulo cuidadosamente la temperatura</option>
                                </select>
                                <i></i>
                             </label>
                        </section>
                    </div>

                    <div class="col-md-12">
                        <section>
	                        <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="calent(this.form)">Calcular</button>
	                    </section>

	                    <label class="label">Consumo anual por el uso del agua caliente</label>
	                    
	                    <div class="row">
	                        <section class="col col-3">                            
	                            <label class="label">Por Persona</label>
	                            <input type="text" class="campo" name="calent6pcam" id="calent6pcam" size="8" onfocus="select()" disabled> Kep
	                            <div id="dinamico2u" class="note"></div>
	                        </section>
	                        <section class="col col-3">                            
	                            <label class="label">Por Hogar</label>
	                            <input type="text" class="campo" name="calent6cam" id="calent6cam" size="8" onfocus="select()" disabled> Kep
	                            <div id="dinamico2u2" class="note"></div>
	                        </section>
	                    </div>
	                    <div class="note">La media por hogar de 3 personas es de 200 kep/año o de 2.320 kWh/año</div>
	                </div>

                    </fieldset>

                    <header>La calefacción</header>
                    <fieldset>
	                    <section class="col col-8">
                            <label class="label">¿Cuántos elementos de calefacción hay en tu casa? (estufas y radiadores)</label>
                            <label class="input col-3">
                                <input type="text" id="calef1cam" name="calef1cam" size="8" onfocus="select()" class="campo">
                            </label>
                        </section>
						<section class="col col-4">
                            <label class="label">¿Qué tipo de energía utiliza?</label>
                             <label class="select">
                                <select name="calef2cam" size="1">
				                        <option value="150">Carbón</option>
				                        <option value="150.3">Biomasa (leña, pellet, etc.)</option>
				                        <option value="150.0">Gasóleo</option>
				                        <option value="150.1">Propano, butano</option>
				                        <option value="150.2">Gas natural</option>
				                        <option value="1725" selected="">Electricidad</option>
				                        <option value="1725.0">Suelo radiante con energía solar</option>
				                </select>
                                <i></i>
                             </label>
	                    </section>
	                    <section class="col col-6">
                            <label class="label">Indica la zona de clima en que vives.</label>
                             <label class="select">
                                <select name="calef3cam" size="1">
				                        <option value="1.3" selected="">Zona fría</option>
				                        <option value="1">Zona media</option>
				                        <option value="0.5">Zona cálida</option>
				                </select>
                                <i></i>
                             </label>
	                    </section>
	                    <section class="col col-6">
                            <label class="label">En tu opinión tu casa está</label>
                             <label class="select">
                                <select name="calef4cam" size="1">
			                        <option value="1.3">Mal aislada térmicamente</option>
			                        <option value="1">Regularmente aislada</option>
			                        <option value="0.7">Bien aislada</option>
			                    </select>
                                <i></i>
                             </label>
	                    </section>
	                    <section class="col col-6">
                            <label class="label">¿Se puede regular la temperatura de las habitaciones?</label>
                             <label class="select">
                                <select name="calef5cam" size="1">
				                    <option value="1.3" selected="">No se puede</option>
				                    <option value="1">Regulación parcial</option>
				                    <option value="0.7">Regulación fina</option>
				                </select>
                                <i></i>
                             </label>
	                    </section>
	                    <section class="col col-6">
                            <label class="label">¿A qué temperatura está regulada la calefacción?</label>
                             <label class="select">
                                <select name="calef6cam" size="1">
				                        <option value="1.5" selected="">Alta, más de 22 grados</option>
				                        <option value="1">Media</option>
				                        <option value="0.5">Baja, menos de 19 grados</option>
				                </select>
                                <i></i>
                             </label>
	                    </section>

	                    <div class="col-md-12">
		                    <section>
		                        <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="calef(this.form)">Calcular</button>
		                    </section>
		                    <label class="label">Consumo anual por el uso de la calefacción</label>
		                    <div class="row">
		                        <section class="col col-3">                            
		                            <label class="label">Por Persona</label>
		                            <input type="text" class="campo" name="calef7pcam" id="calef7pcam" size="8" onfocus="select()" disabled> Kep
		                            <div id="dinamico3u" class="note"></div>
		                        </section>
		                        <section class="col col-3">                            
		                            <label class="label">Por Hogar</label>
		                            <input type="text" class="campo" name="calef7cam" id="calef7cam" size="8" onfocus="select()" disabled> Kep
		                            <div id="dinamico3u2" class="note"></div>
		                        </section>
		                    </div>
		                    <div class="note">La media por hogar de 3 personas es de 500 kep/año o de 5.800 kWh/año</div>
		                    
		                </div>
                    </fieldset>

                    <header>Si tienes alguna instalación de aire acondicionado</header>
                    <fieldset>
	                    <div class="col-md-6">
	                        <section class="">
	                            <label class="label">¿De qué tipo es?</label>
	                             <label class="select">
	                             <select name="aire1cam" size="1">
			                        <option value="200">Portátil o de ventana</option>
			                        <option value="250">Split</option>
			                        <option value="150">Split con bomba de calor</option>
			                        <option value="300">Sistema completo de conductos en vivienda</option>
			                     </select>
	                             <i></i>
	                             </label>
		                    </section>
		                    <section class="">
	                            <label class="label">¿Cuántos elementos tiene el sistema?</label>
	                            <label class="input col-3">
	                                <input type="text" id="aire2cam" name="aire2cam" size="8" onfocus="select()" class="campo">
	                            </label>
	                             <div class="note">
				                   <strong>Nota: </strong>Si es un sistema “multisplit”, indica el número de elementos interiores.<br>
				                   Si es un sistema completo, indica el número de habitaciones climatizadas.<br>
				                 </div>
	                        </section>
                        </div>
                        <div class="col-md-6">
                        	<section class="">
	                            <label class="label">¿Cuántos meses al año utilizas el aire acondicionado?</label>
	                            <label class="input col-3">
	                                <input type="text" id="aire3cam" name="aire3cam" size="8" onfocus="select()" class="campo">
	                            </label>
	                            <div class="note">
				                   <strong>Nota: </strong>Ten en cuenta sólo aquellos meses en que lo usas de manera habitual.<br>
	                  				Si empleas un sistema de bomba de calor, cuenta también los meses en que lo usas como calefacción.<br>
				                 </div>
	                        </section>
	                        <section class="">
	                            <label class="label">¿Cuál es el estilo de uso de tu aire acondicionado?</label>
	                             <label class="select">
	                             	<select name="aire4cam" size="1">
				                        <option value="2" selected="">Lo tengo funcionando de manera continua</option>
				                        <option value="1">Lo uso con moderación</option>
				                        <option value="0.5">Solo lo conecto en días de mucho calor</option>
				                  </select>
	                                <i></i>
	                             </label>
		                    </section>
                        </div>
                        <div class="col-md-12">
	                    	<section>
		                        <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="aire(this.form)">Calcular</button>
		                    </section>
			                    <label class="label">Consumo anual por el uso del aire acondicionado</label>
			                    <div class="row">
			                        <section class="col col-3">                            
			                            <label class="label">Por Persona</label>
			                            <input type="text" class="campo" name="aire5pcam" id="aire5pcam" size="8" onfocus="select()" disabled> kWh
			                            <div id="dinamico3u" class="note"></div>
			                        </section>
			                        <section class="col col-3">                            
			                            <label class="label">Por Hogar</label>
			                            <input type="text" class="campo" name="aire5cam" id="aire5cam" size="8" onfocus="select()" disabled> kWh
			                        </section>
		                    	</div>
	                    </div>
                      </fieldset>

                      <header>La iluminación</header>
                      <fieldset>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Cuál es el número total de lámparas en la casa?</label>
                                <label class="input col-3">
                                    <input type="text" id="lamp1cam" name="lamp1cam" size="8" onfocus="select()" class="campo">
                                </label>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Cuántas de ellas son de bajo consumo?</label>
                                <label class="input col-3">
                                    <input type="text" id="lamp2cam" name="lamp2cam" size="8" onfocus="select()" class="campo">
                                </label>
                                <div class="note"></div>
                            </section>
                        </div>

                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="lamp(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo de electricidad por el uso de la iluminación</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="lamp3pcam" id="lamp3pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="hidden" value="#" name="lampx">
                                    <input type="text" class="campo" name="lamp3cam" id="lamp3cam" size="8" onfocus="select()" disabled> kWh
                                </section>
                            </div>
                            <div class="note">La media por hogar de 3 personas es de 870 kWh/año</div>
                        </div>
                      </fieldset>

                      <header>Electrodomésticos: el frigorífico</header>
                      <fieldset>
                        <div class="col-md-6">
                          <section class="">
                              <label class="label">¿Tienes frigorífico?</label>
                               <label class="select">
                                <select name="frigo1cam" size="1">
                                    <option value="0">No tengo frigorífico</option>
                                    <option value="725">Tengo un frigorífico</option>
                                </select>
                                <i></i>
                               </label>
                          </section>
                          <section class="">
                              <label class="label">¿Cuándo lo compraste?</label>
                               <label class="select">
                                <select name="frigo3cam" size="1">
                                    <option value="0.85" selected="">Recientemente</option>
                                    <option value="0.95">Hace unos pocos años</option>
                                    <option value="1.2">Hace mas de diez años</option>
                                </select>
                                <i></i>
                               </label>
                          </section>
                        </div>
                        <div class="col-md-6">
                          <section class="">
                              <label class="label">¿Cómo es de grande tu frigorífico?</label>
                               <label class="select">
                                <select name="frigo2cam" size="1">
                                    <option value="0.7">Es pequeño</option>
                                    <option value="0.9">Es de tamaño mediano</option>
                                    <option value="1.3">Uno de esos grandes con dos puertas</option>
                                </select>
                                <i></i>
                               </label>
                          </section>
                          <section class="">
                              <label class="label">Si tiene clasificación energética indica cuál es</label>
                               <label class="select">
                                <select name="frigo4cam" size="1">
                                      <option value="1">No lo sé, no tiene</option>
                                      <option value="0.4">A+ o A++</option>
                                      <option value="0.6">A o B</option>
                                      <option value="0.9">C, D, E, F o G</option>
                                </select>
                                <i></i>
                               </label>
                          </section>
                        </div>
                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="frigo(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo anual de electricidad por el uso del frigorífico</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="frigo5pcam" id="frigo5pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="text" class="campo" name="frigo5cam" id="frigo5cam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u2" class="note"></div>
                                </section>
                            </div>
                            <div class="note">La media por hogar de 3 personas es de 725 kWh/año</div>
                        </div>
                      </fieldset>

                      <header>Electrodomésticos: la televisión</header>
                      <fieldset>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Cuantas televisiones hay en tu casa?</label>
                                 <label class="select">
                                  <select name="tv1cam" size="1">
                                      <option value="0">No tengo ninguna</option>
                                      <option value="350">Una</option>
                                      <option value="600">Más de una</option>
                                  </select>
                                    <i></i>
                                 </label>
                           </section>
                           <section class="">
                                <label class="label">¿Cuántas horas suele estar encendida diariamente?</label>
                                 <label class="select">
                                  <select name="tv3cam" size="1">
                                      <option value="1.25" selected="">Más de ocho horas diarias</option>
                                      <option value="1">Entre siete y cinco horas</option>
                                      <option value="0.75">Menos de cuatro horas</option>
                                  </select>
                                    <i></i>
                                 </label>
                           </section>
                        </div>
                        <div class="col-md-6">
                           <section class="">
                                <label class="label">¿Cuál es su tamaño?</label>
                                 <label class="select">
                                  <select name="tv2cam" size="1">
                                      <option value="1.25">Es grande, de más de 32"</option>
                                      <option value="1">De entre 21" y 32"</option>
                                      <option value="0.75">Es de menos de 21"</option>
                                  </select>
                                    <i></i>
                                 </label>
                           </section>
                        </div>
                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="tv(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo anual de electricidad por el uso de la televisión</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="tv4pcam" id="tv4pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="text" class="campo" name="tv4cam" id="tv4cam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u2" class="note"></div>
                                </section>
                            </div>
                            <div class="note">La media por hogar de 3 personas es de 350 kWh/año</div>
                        </div>          
                      </fieldset>

                      <header>Electrodomésticos: la lavadora</header>
                      <fieldset>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Cuántas lavadoras se ponen a la semana en tu casa?</label>
                                <label class="input col-3">
                                    <input type="text" id="canna1cam" name="canna1cam" size="8" onfocus="select()" class="campo">
                                </label>
                                <div class="note"></div>
                            </section>
                            <section class="">
                                <label class="label">Tu lavadora es…</label>
                                 <label class="select">
                                  <select name="canna3cam" size="1">
                                      <option value="1.5" selected="">Un modelo antiguo</option>
                                      <option value="1">Un modelo convencional</option>
                                      <option value="0.6">De clase energética A o B</option>
                                      <option value="0.4">Es doble A</option>
                                  </select>
                                    <i></i>
                                 </label>
                          </section>
                        </div>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Qué temperatura utilizas habitualmente para el agua?</label>
                                 <label class="select">
                                  <select name="canna2cam" size="1">
                                      <option value="1.5">Más de 60 grados</option>
                                      <option value="1.2">Entre 60 y 30 grados</option>
                                      <option value="0.5">Siempre agua fría salvo en casos especiales</option>
                                  </select>
                                    <i></i>
                                 </label>
                            </section>
                        </div>
                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="canna(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo de electricidad  por el uso de la lavadora</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="canna4pcam" id="canna4pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="text" class="campo" name="canna4cam" id="canna4cam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u2" class="note"></div>
                                </section>
                            </div>
                            <div class="note">La media por hogar de 3 personas es de 250 kWh/año</div>
                        </div> 
                      </fieldset>

                      <header>Electrodomésticos: el lavavajillas</header>
                      <fieldset>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Tienes lavavajillas?</label>
                                 <label class="select">
                                  <select name="vaji1cam" size="1">
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                  </select>
                                    <i></i>
                                 </label>
                          </section>
                          <section class="">
                                <label class="label">Tu lavavajillas es…</label>
                                 <label class="select">
                                  <select name="vaji2cam" size="1">
                                      <option value="1.5" selected="">Un modelo antiguo</option>
                                      <option value="1">Un modelo clase B o inferior</option>
                                      <option value="0.5">Un modelo de clase A</option>
                                  </select>
                                    <i></i>
                                 </label>
                            </section>
                            
                        </div>
                        <div class="col-md-6">
                            <section class="">
                                <label class="label">¿Cuántos lavavajillas se ponen a la semana en tu casa?</label>
                                <label class="input col-3">
                                    <input type="text" id="vaji4cam" name="vaji4cam" size="8" onfocus="select()" class="campo">
                                </label>
                                <div class="note"></div>
                            </section>
                            
                        </div>
                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="vaji(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo de electricidad  por el uso del lavavajillas</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="vaji3pcam" id="vaji3pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="text" class="campo" name="vaji3cam" id="vaji3cam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u2" class="note"></div>
                                </section>
                            </div>
                            <div class="note">La media por hogar de 3 personas es de 200 KWh/año</div>
                        </div> 
                      </fieldset>

                      <header>Electrodomésticos: varios</header>
                      <fieldset>
                        <div class="col-md-6">
                          <section class="">
                              <section class="">
                                  <label class="label">Marca los aparatos que tienes por casa</label>
                                  <div class="inline-group">
                                      <label class="checkbox"><input type="checkbox" value="0" name="peq1cam" onclick="value=50"><i></i>Cadena de música</label>
                                      <label class="checkbox"><input type="checkbox" value="0" name="peq2cam" onclick="value=50"><i></i>Vídeo</label>
                                      <label class="checkbox"><input type="checkbox" value="0" name="peq3cam" onclick="value=50"><i></i>DVD</label>
                                      <label class="checkbox"><input type="checkbox" value="0" name="peq4cam" onclick="value=50"><i></i>Ordenador</label>
                                  </div>
                              </section>
                          </section>
                        </div>
                        <div class="col-md-6">
                          <label class="label">¿Cuántos aparatos eléctricos pequeños  tienes en casa?</label>
                          <section class="">
                              <label class="input col-3">
                                  <input type="text" id="peq5cam" name="peq5cam" size="8" onfocus="select()" class="campo">
                              </label>
                              <div class="note">(batidora, afeitadora, robot de cocina, tostadora, etc.)</div>
                          </section>
                        </div>
                        <div class="col-md-12">
                          <section>
                              <button type="button" class="btn-u btn-u-default" value="Calcular" class="boton" onclick="peq(this.form)">Calcular</button>
                          </section>
                            <label class="label">Consumo de electricidad  por el uso de estos electrodomésticos</label>
                            <div class="row">
                                <section class="col col-3">                            
                                    <label class="label">Por Persona</label>
                                    <input type="text" class="campo" name="peq6pcam" id="peq6pcam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u" class="note"></div>
                                </section>
                                <section class="col col-3">                            
                                    <label class="label">Por Hogar</label>
                                    <input type="text" class="campo" name="peq6cam" id="peq6cam" size="8" onfocus="select()" disabled> kWh
                                    <div id="dinamico3u2" class="note"></div>
                                </section>
                            </div>
                        </div> 
                      </fieldset>

                      <header>Resultados</header>
                      <fieldset>
                      <section class="">
                          <label class="label">A continuación vas a conocer los resultados generales de la encuesta</label>
                          <button type="button" class="btn-u btn-u-default" value="Cálculo por tipo de energía"  onclick="total(this.form)">Ver Resultados por Tipo de energ&iacute;a</button>
                      </section>
                      <div class="col-md-12">
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de combustibles sólidos:
                                Por persona/año <input type="text" class="campo" name="total1pcam" id="total1pcam" size="6" onfocus="select()" disabled>kep&nbsp;
                                y por hogar/año &nbsp;<input type="text" class="campo" name="total1cam" id="total1cam" size="6" onfocus="select()" disabled>kep&nbsp;
                              </label>
                            </div>
                          </section>
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de gasóleo
                                por persona/año <input type="text" name="total2pcam" size="6" onfocus="select()" class="campo" disabled> kep&nbsp;
                                y por hogar/año&nbsp;<input type="text" name="total2cam" size="6" onfocus="select()" class="campo" disabled> kep
                              </label>
                            </div>
                          </section>
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de butano o propano (GLP)
                                por persona/año <input type="text" name="total3pcam" size="6" onfocus="select()" class="campo" disabled> kep&nbsp;
                                y por hogar/año&nbsp;<input type="text" name="total3cam" size="6" onfocus="select()" class="campo" disabled> kep
                              </label>
                            </div>
                          </section>
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de gas natural
                                por persona/año <input type="text" name="total4pcam" size="6" onfocus="select()" class="campo" disabled> kep&nbsp;
                                y por hogar/año&nbsp;<input type="text" name="total4cam" size="6" onfocus="select()" class="campo" disabled> kep
                              </label>
                            </div>
                          </section>
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de electricidad
                                por persona/año <input type="text" name="total5pcam" size="6" onfocus="select()" class="campo" disabled> kWh&nbsp;
                                y por hogar/año&nbsp;<input type="text" name="total5cam" size="6" onfocus="select()" class="campo" disabled> kWh
                              </label>
                            </div>
                          </section>
                          <section class="">
                            <div class="inline-group">
                              <label class="">- Gasto de energía solar
                                por persona/año <input type="text" name="total6pcam" size="6" onfocus="select()" class="campo" disabled> kWh&nbsp;
                                y por hogar/año&nbsp;<input type="text" name="total6cam" size="6" onfocus="select()" class="campo" disabled> kWh
                              </label>
                            </div>
                          </section>
                        </div>
                        <section class="">
                            <button type="button" class="btn-u btn-u-default" value="Cálculo global"  onclick="totalglobal(this.form)">Ver Resultado Global</button>
                        </section>
                        <div class="col-md-12">
                            <section class="">
                              <div class="inline-group">
                                <label class="">-Cifra global indicativa del consumo de energía de tu casa&nbsp;
                                <input type="text" name="totalgcam" size="6" onfocus="select()" class="campo" disabled>kep&nbsp;
                                Y del consumo por persona&nbsp;<input type="text" name="totalpcam" size="6" onfocus="select()" class="campo" disabled>kep
                                </label>
                              </div>
                            </section>
                            <section class="send-data hide">
                                <label class="label"><strong>Puedes compartir los datos con nosotros de forma anónima. Haz Click en el botón y escribe lo que vez en la imagen.</strong></label>
                                <button id="send-data" type="button" class="btn-u">Enviar resultados</button>
                            </section>
                        </div>
                      </fieldset>
                </form>
                <form name="Resultado" class="hide">
                    <input type="hidden" value="0" name="cocinaelec">
                    <input type="hidden" value="0" name="calent">
                    <input type="hidden" value="0" name="calencaliente">
                    <input type="hidden" value="0" name="carbon">
                    <input type="hidden" value="0" name="calefaislam">
                    <input type="hidden" value="0" name="calefregul">
                    <input type="hidden" value="0" name="calefcaliente">
                    <input type="hidden" value="0" name="ratiolamp">
                    <input type="hidden" value="0" name="frigoant">
                    <input type="hidden" value="0" name="lavadora">
                    <input type="hidden" value="0" name="consumoenergia">
               </form>
          <!-- Bootstrap Modals With Forms -->
          <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Enviar Resultados</h4>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <form id="data-analysis" role="form" action="." method="post" class="sky-form">
                              <fieldset>
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                  {% if field.html_name != 'captcha' %}
                                    {{ field.as_hidden }}
                                  {% else %}
                                    {{ field }}
                                  {% endif %}
                                {% endfor %}
                              <button type="submit" class="btn-u btn-u-default" class="boton2">Enviar</button>
                              </fieldset>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Bootstrap Modals With Forms -->
{% endif %}
</div>

{% endblock %}

{% block extrajs %}
	<script>
	        <!--
	        // Todos los carecteres son numeros
	        function EsNumero(Dato) {
	            var CadenaNumeros="0123456789";
	            var EsteCaracter;
	            var Contador = 0;
	            
	            for (var i=0; i < Dato.length; i++) {
	                EsteCaracter = Dato.substring(i, i+1);
	                if (CadenaNumeros.indexOf(EsteCaracter) != -1) Contador ++;
	            }
	            if (Contador == Dato.length) return true;
	            else return false;
	        }
	        
	        function comprobar_pers(personas){
	            if (personas == "" || personas == "0"){
	                alert("Para ver los cálculos 'por persona' es necesario completar el número de habitantes de la vivienda")
	            }
	            
	            if (!EsNumero(personas)){
	                alert("El número de habitantes de la vivienda debe ser numérico")
	            }
	        }
	        
	        function MM_findObj(n, d) { //v4.01
	          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
	            d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
	          if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
	          for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
	          if(!x && d.getElementById) x=d.getElementById(n); return x;
	        }
	        
	        function MM_setTextOfLayer(objName,x,newText) { //v4.01
	          if ((obj=MM_findObj(objName))!=null) with (obj)
	            if (document.layers) {document.write(unescape(newText)); document.close();}
	            else innerHTML = unescape(newText);
	        }
	        
	        var energiaCocina = "";
	        var energiaCalent = "";
	        var energiaCalef = "";
	        
	        function cocina(form) {
	            var pers = form.perscam.value;
	            var cocina1var = form.cocina1cam.options[form.cocina1cam.selectedIndex].value;
	            var cocina2var = form.cocina2cam.options[form.cocina2cam.selectedIndex].value;
	            var cocina3var = form.cocina3cam.value;
	            var cocina4avar = form.cocina4acam.value;
	            var cocina4bvar = form.cocina4bcam.value;
	        
	            comprobar_pers(pers);
	        
	            if (EsNumero(cocina3var)){
	            
	                form.cocina5cam.value = Math.round ((cocina1var * cocina2var) * (cocina3var/13) -+- cocina4avar -+- cocina4bvar);
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.cocina5pcam.value = Math.round (((cocina1var * cocina2var) * (cocina3var/13) -+- cocina4avar -+- cocina4bvar) / pers);
	                else form.cocina5pcam.value = ""
	            
	                if (cocina1var == "100.0"){
	                    MM_setTextOfLayer('dinamico','','de GLP');
	                    MM_setTextOfLayer('dinamicou','','kep');
	                    MM_setTextOfLayer('dinamicou2','','kep');
	                    energiaCocina = "GLP"
	                    document.forms["Resultado"].cocinaelec.value = "0";
	                }
	                if (cocina1var == "100"){
	                    MM_setTextOfLayer('dinamico','','de gas natural');
	                    MM_setTextOfLayer('dinamicou','','kep');
	                    MM_setTextOfLayer('dinamicou2','','kep');
	                    energiaCocina = "gas";
	                    document.forms["Resultado"].cocinaelec.value = "0";
	                }
	                if (cocina1var == "1150"){
	                    MM_setTextOfLayer('dinamico','','de electricidad');
	                    MM_setTextOfLayer('dinamicou','','KWh');
	                    MM_setTextOfLayer('dinamicou2','','KWh');
	                    energiaCocina = "electricidad"
	                    document.forms["Resultado"].cocinaelec.value = "1";
	                }
	                if (cocina1var == "100.1"){
	                    MM_setTextOfLayer('dinamico','','de Le&ntilde;a');
	                    MM_setTextOfLayer('dinamicou','','kep');
	                    MM_setTextOfLayer('dinamicou2','','kep');
	                    energiaCocina = "solido"
	                    document.forms["Resultado"].cocinaelec.value = "0";
	                }
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaCocina(form){
	            form.cocina1cam.selectedIndex = 0;
	            form.cocina2cam.selectedIndex = 1;
	            form.cocina3cam.value = "";
	            form.cocina4acam.checked = false;
	            form.cocina4bcam.checked = false;
	            form.cocina5cam.value = "";
	            form.cocina5pcam.value = "";
	            MM_setTextOfLayer('dinamico','','Consumo');
	            MM_setTextOfLayer('dinamicou','','');
	            MM_setTextOfLayer('dinamicou2','','');
	            energiaCocina = ""
	        }
	        
	        function calent(form) {
	            var pers = form.perscam.value;
	            var calent1var = form.calent1cam.options[form.calent1cam.selectedIndex].value;
	            var calent2var = form.calent2cam.options[form.calent2cam.selectedIndex].value;
	            var calent3var = form.calent3cam.options[form.calent3cam.selectedIndex].value;
	            var calent4var = form.calent4cam.options[form.calent4cam.selectedIndex].value;
	            var calent5var = form.calent5cam.value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(calent5var)){
	                form.calent6cam.value = Math.round ((calent1var * calent2var * calent3var * calent4var) * (calent5var/32));
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.calent6pcam.value = Math.round ((calent1var * calent2var * calent3var * calent4var) * (calent5var/32) / (pers));
	                else form.calent6pcam.value = ""
	            
	                if (calent1var == "200"){
	                    MM_setTextOfLayer('dinamico2','','de carb&oacute;n');
	                    MM_setTextOfLayer('dinamico2u','','kep');
	                    MM_setTextOfLayer('dinamico2u2','','kep');
	                    energiaCalent = "solido"
	                }
	                if (calent1var == "200.3"){
	                    MM_setTextOfLayer('dinamico2','','de biomasa');
	                    MM_setTextOfLayer('dinamico2u','','kep');
	                    MM_setTextOfLayer('dinamico2u2','','kep');
	                    energiaCalent = "solido"
	                }				
	                if (calent1var == "200.0"){
	                    MM_setTextOfLayer('dinamico2','','de gas&oacute;leo');
	                    MM_setTextOfLayer('dinamico2u','','kep');
	                    MM_setTextOfLayer('dinamico2u2','','kep');
	                    energiaCalent = "gasoleo"
	                }
	                if (calent1var == "200.1"){ 
	                    MM_setTextOfLayer('dinamico2','','de GLP');
	                    MM_setTextOfLayer('dinamico2u','','kep');
	                    MM_setTextOfLayer('dinamico2u2','','kep');
	                    energiaCalent = "GLP"
	                }
	                if (calent1var == "200.2"){
	                    MM_setTextOfLayer('dinamico2','','de gas natural');
	                    MM_setTextOfLayer('dinamico2u','','kep');
	                    MM_setTextOfLayer('dinamico2u2','','kep');
	                    energiaCalent = "gas"
	                }
	                if (calent1var == "2300"){
	                    MM_setTextOfLayer('dinamico2','','de electricidad');
	                    MM_setTextOfLayer('dinamico2u','','kWh');
	                    MM_setTextOfLayer('dinamico2u2','','kWh');
	                    energiaCalent = "electricidad"
	                }
	                if (calent1var == "2300.0"){
	                    MM_setTextOfLayer('dinamico2','','de energ&iacute;a solar');
	                    MM_setTextOfLayer('dinamico2u','','kWh');
	                    MM_setTextOfLayer('dinamico2u2','','kWh');
	                    energiaCalent = "solar"
	                }
	                
	                if (calent2var == "1.25") 
	                    document.forms["Resultado"].calent.value = "1";
	                else
	                    document.forms["Resultado"].calent.value = "0";
	                    
	                if (calent4var == "1.25") 
	                    document.forms["Resultado"].calencaliente.value = "1";
	                else
	                    document.forms["Resultado"].calencaliente.value = "0";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaCalent(form){
	            form.calent1cam.selectedIndex = 2;
	            form.calent2cam.selectedIndex = 0;
	            form.calent3cam.selectedIndex = 0;
	            form.calent4cam.selectedIndex = 0;
	            form.calent5cam.value = "";
	            form.calent6cam.value = "";
	            form.calent6pcam.value = "";
	            MM_setTextOfLayer('dinamico2','','Consumo');
	            MM_setTextOfLayer('dinamico2u','','');
	            MM_setTextOfLayer('dinamico2u2','','');
	            energiaCalent = ""
	        }
	        
	        function calef(form){
	            var pers = form.perscam.value;
	            var calef1var = form.calef1cam.value;
	            var calef2var = form.calef2cam.options[form.calef2cam.selectedIndex].value;
	            var calef3var = form.calef3cam.options[form.calef3cam.selectedIndex].value;
	            var calef4var = form.calef4cam.options[form.calef4cam.selectedIndex].value;
	            var calef5var = form.calef5cam.options[form.calef5cam.selectedIndex].value;
	            var calef6var = form.calef6cam.options[form.calef6cam.selectedIndex].value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(calef1var)){
	                form.calef7cam.value = Math.round (calef1var * calef2var * calef3var * calef4var * calef5var * calef6var);
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.calef7pcam.value = Math.round ((calef1var * calef2var * calef3var * calef4var * calef5var * calef6var) / (pers));
	                else form.calef7pcam.value = "";
	        
	                if (calef2var == "150"){
	                    MM_setTextOfLayer('dinamico3','','de carb&oacute;n');
	                    MM_setTextOfLayer('dinamico3u','','kep');
	                    MM_setTextOfLayer('dinamico3u2','','kep');
	                    energiaCalef = "solido"			
	                }
	                if (calef2var == "150.3"){
	                    MM_setTextOfLayer('dinamico3','','de biomasa');
	                    MM_setTextOfLayer('dinamico3u','','kep');
	                    MM_setTextOfLayer('dinamico3u2','','kep');
	                    energiaCalef = "solido"			
	                }
	                if (calef2var == "150.0"){ 
	                    MM_setTextOfLayer('dinamico3','','de gas&oacute;leo');
	                    MM_setTextOfLayer('dinamico3u','','kep');
	                    MM_setTextOfLayer('dinamico3u2','','kep');
	                    energiaCalef = "gasoleo"
	                }
	                if (calef2var == "150.1"){
	                    MM_setTextOfLayer('dinamico3','','de GLP');
	                    MM_setTextOfLayer('dinamico3u','','kep');
	                    MM_setTextOfLayer('dinamico3u2','','kep');
	                    energiaCalef = "GLP"
	                }
	                if (calef2var == "150.2"){
	                    MM_setTextOfLayer('dinamico3','','de gas natural');
	                    MM_setTextOfLayer('dinamico3u','','kep');
	                    MM_setTextOfLayer('dinamico3u2','','kep');
	                    energiaCalef = "gas"
	                }
	                if (calef2var == "1725"){ 
	                    MM_setTextOfLayer('dinamico3','','de electricidad');
	                    MM_setTextOfLayer('dinamico3u','','KWh');
	                    MM_setTextOfLayer('dinamico3u2','','KWh');
	                    energiaCalef = "electricidad"
	                }
	                if (calef2var == "1725.0"){ 
	                    MM_setTextOfLayer('dinamico3','','de energ&iacute;a solar');
	                    MM_setTextOfLayer('dinamico3u','','KWh');
	                    MM_setTextOfLayer('dinamico3u2','','KWh');
	                    energiaCalef = "solar"
	                }
					
	                
	                if (calef2var == "150") 
	                    document.forms["Resultado"].carbon.value = "1";
	                else
	                    document.forms["Resultado"].carbon.value = "0";
	                    
	                if (calef4var == "1.3") 
	                    document.forms["Resultado"].calefaislam.value = "1";
	                else
	                    document.forms["Resultado"].calefaislam.value = "0";
	                    
	                if (calef5var == "1.3") 
	                    document.forms["Resultado"].calefregul.value = "1";
	                else
	                    document.forms["Resultado"].calefregul.value = "0";
	                    
	                if (calef6var == "1.5") 
	                    document.forms["Resultado"].calefcaliente.value = "1";
	                else
	                    document.forms["Resultado"].calefcaliente.value = "0";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaCalef(form){
	            form.calef1cam.value = "";
	            form.calef2cam.selectedIndex = 4;
	            form.calef3cam.selectedIndex = 0;
	            form.calef4cam.selectedIndex = 0;
	            form.calef5cam.selectedIndex = 0;
	            form.calef6cam.selectedIndex = 0;
	            form.calef7cam.value = "";
	            form.calef7pcam.value = "";
	            MM_setTextOfLayer('dinamico3','','Consumo');
	            MM_setTextOfLayer('dinamico3u','','');
	            MM_setTextOfLayer('dinamico3u2','','');
	            energiaCalef = ""
	        }
	        
	        function aire(form) {
	            var pers = form.perscam.value;
	            var aire1var = form.aire1cam.options[form.aire1cam.selectedIndex].value;
	            var aire2var = form.aire2cam.value;
	            var aire3var = form.aire3cam.value;
	            var aire4var = form.aire4cam.options[form.aire4cam.selectedIndex].value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(aire2var) && EsNumero(aire3var)){
	                form.aire5cam.value = Math.round (aire1var * aire2var * aire3var * aire4var);
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.aire5pcam.value = Math.round ((aire1var * aire2var * aire3var * aire4var) / (pers));
	                else form.aire5pcam.value = "";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaAire(form){
	            form.aire1cam.selectedIndex = 0;
	            form.aire2cam.value = "";
	            form.aire3cam.value = "";
	            form.aire4cam.selectedIndex = 0;
	            form.aire5cam.value = "";
	            form.aire5pcam.value = "";
	        }
	        
	        function lamp(form) {
	            var pers = form.perscam.value;
	            var lamp1var = form.lamp1cam.value;
	            var lamp2var = form.lamp2cam.value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(lamp1var) && EsNumero(lamp2var)){
	                form.lamp3cam.value = Math.round (lamp1var * 45) - (lamp2var * 35);
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.lamp3pcam.value = Math.round ((lamp1var * 45) / (pers) - (lamp2var * 35) / (pers));
	                else form.lamp3pcam.value = "";
	                
	                if (lamp2var == "0") {
	                    document.forms["Resultado"].ratiolamp.value = "1";
	                }
	                else{
	                    if ((lamp2var/lamp1var) > (0.2)) 
	                        document.forms["Resultado"].ratiolamp.value = "3";
	                    else
	                        document.forms["Resultado"].ratiolamp.value = "2";
	                }
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaLamp(form){
	            form.lamp1cam.value = "";
	            form.lamp2cam.value = "";
	            form.lamp3cam.value = "";
	            form.lamp3pcam.value = "";
	        }
	        
	        function frigo(form) {
	            var pers = form.perscam.value;
	            var frigo1var = form.frigo1cam.options[form.frigo1cam.selectedIndex].value;
	            var frigo2var = form.frigo2cam.options[form.frigo2cam.selectedIndex].value;
	            var frigo3var = form.frigo3cam.options[form.frigo3cam.selectedIndex].value;
	            var frigo4var = form.frigo4cam.options[form.frigo4cam.selectedIndex].value;
	            
	            comprobar_pers(pers);
	            
	            form.frigo5cam.value = Math.round (frigo1var * frigo2var * frigo3var * frigo4var);
	            if (pers != "" && pers != "0" && EsNumero(pers)) form.frigo5pcam.value = Math.round ((frigo1var * frigo2var * frigo3var * frigo4var) / (pers));
	            else form.frigo5pcam.value = "";
	        
	            if (frigo3var == "1.2") 
	                document.forms["Resultado"].frigoant.value = "1";
	            else
	                document.forms["Resultado"].frigoant.value = "0";
	        }
	        
	        function inicializaFrigo(form){
	            form.frigo1cam.selectedIndex = 0;
	            form.frigo2cam.selectedIndex = 0;
	            form.frigo3cam.selectedIndex = 0;
	            form.frigo4cam.selectedIndex = 0;
	            form.frigo5cam.value = "";
	            form.frigo5pcam.value = "";
	        }
	        
	        function tv(form) {
	            var pers = form.perscam.value;
	            var tv1var = form.tv1cam.options[form.tv1cam.selectedIndex].value;
	            var tv2var = form.tv2cam.options[form.tv2cam.selectedIndex].value;
	            var tv3var = form.tv3cam.options[form.tv3cam.selectedIndex].value;
	            
	            comprobar_pers(pers);
	            
	            form.tv4cam.value = Math.round (tv1var * tv2var * tv3var);
	            if (pers != "" && pers != "0" && EsNumero(pers)) form.tv4pcam.value = Math.round ((tv1var * tv2var * tv3var) / (pers));
	            else form.tv4pcam.value = "";
	        }
	        
	        function inicializaTv(form){
	            form.tv1cam.selectedIndex = 0;
	            form.tv2cam.selectedIndex = 0;
	            form.tv3cam.selectedIndex = 0;
	            form.tv4cam.value = "";
	            form.tv4pcam.value = "";
	        }
	        
	        function canna(form) {
	            var pers = form.perscam.value;
	            var canna1var = form.canna1cam.value;
	            var canna2var = form.canna2cam.options[form.canna2cam.selectedIndex].value;
	            var canna3var = form.canna3cam.options[form.canna3cam.selectedIndex].value;
	                
	            comprobar_pers(pers);
	            
	            if (EsNumero(canna1var)){
	                form.canna4cam.value = Math.round ((canna1var * 53) * (canna2var * canna3var));
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.canna4pcam.value = Math.round (((canna1var * 53) * (canna2var * canna3var)) / (pers));
	                else form.canna4pcam.value = "";
	                
	                if (canna2var == "1.5") 
	                    document.forms["Resultado"].lavadora.value = "1";
	                else
	                    document.forms["Resultado"].lavadora.value = "0";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaCanna(form){
	            form.canna1cam.value = "";
	            form.canna2cam.selectedIndex = 0;
	            form.canna3cam.selectedIndex = 0;
	            form.canna4cam.value = "";
	            form.canna4pcam.value = "";
	        }
	        
	        function vaji(form) {
	            var pers = form.perscam.value;
	            var vaji4var = form.vaji4cam.value;	
	            var vaji1var = form.vaji1cam.options[form.vaji1cam.selectedIndex].value;
	            var vaji2var = form.vaji2cam.options[form.vaji2cam.selectedIndex].value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(vaji4var)){
	                form.vaji3cam.value = Math.round ((vaji4var * 75) * (vaji1var * vaji2var));
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.vaji3pcam.value = Math.round (((vaji4var * 75) * (vaji1var * vaji2var)) / (pers));
	                else form.vaji3pcam.value = "";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }	
	        }
	        
	        function inicializaVaji(form){
	            form.vaji4cam.value = "";
	            form.vaji1cam.selectedIndex = 0;
	            form.vaji2cam.selectedIndex = 0;
	            form.vaji3cam.value = "";
	            form.vaji3pcam.value = "";
	        }
	        
	        function peq(form) {
	            var pers = form.perscam.value;
	            var peq1var = form.peq1cam.value;
	            var peq2var = form.peq2cam.value;
	            var peq3var = form.peq3cam.value;
	            var peq4var = form.peq4cam.value;
	            var peq5var = form.peq5cam.value;
	            
	            comprobar_pers(pers);
	            
	            if (EsNumero(peq5var)){
	                form.peq6cam.value = Math.round ((peq1var -+- peq2var -+- peq3var -+- peq4var) -+- (peq5var * 25));
	                if (pers != "" && pers != "0" && EsNumero(pers)) form.peq6pcam.value = Math.round (((peq1var -+- peq2var -+- peq3var -+- peq4var) -+- (peq5var * 25)) / pers);
	                else form.peq6pcam.value = "";
	            }
	            else{
	                alert("Los valores deben ser numéricos");
	            }
	        }
	        
	        function inicializaPeq(form){
	            form.peq1cam.checked = false;
	            form.peq2cam.checked = false;
	            form.peq3cam.checked = false;
	            form.peq4cam.checked = false;
	            form.peq5cam.value = "";
	            form.peq6cam.value = "";
	            form.peq6pcam.value = "";
	        }
	        
	        function total(form) {
	            var pers = form.perscam.value;
	            var totalsolido = 0;
	            var totalsolidop = 0;
	            var totalgasoleo = 0;
	            var totalgasoleop = 0;
	            var totalGPL = 0;
	            var totalGPLp = 0;
	            var totalgas = 0;
	            var totalgasp = 0;
	            var totalelectricidad = 0;
	            var totalelectricidadp = 0;
	            var totalsolar = 0;
	            var totalsolarp = 0;
	            var calent6var= form.calent6cam.value;
	            var calent6pvar= form.calent6pcam.value;
	            var calef7var= form.calef7cam.value;
	            var calef7pvar= form.calef7pcam.value;	
	            var cocina5var= form.cocina5cam.value;
	            var cocina5pvar= form.cocina5pcam.value;
	            var aire5var= form.aire5cam.value;
	            var aire5pvar= form.aire5pcam.value;
	            var lamp3var= form.lamp3cam.value;
	            var lamp3pvar= form.lamp3pcam.value;
	            var frigo5var= form.frigo5cam.value;
	            var frigo5pvar= form.frigo5pcam.value;
	            var tv4var= form.tv4cam.value;
	            var tv4pvar= form.tv4pcam.value;
	            var canna4var= form.canna4cam.value;
	            var canna4pvar= form.canna4pcam.value;
	            var vaji3var= form.vaji3cam.value;
	            var vaji3pvar= form.vaji3pcam.value;
	            var peq6var= form.peq6cam.value;
	            var peq6pvar= form.peq6pcam.value;
	            
	            comprobar_pers(pers);
	            
	            if (energiaCocina == "solido") totalsolido = totalsolido -+- cocina5var;
	            if (energiaCalent == "solido") totalsolido = totalsolido -+- calent6var;
	            if (energiaCalef == "solido") totalsolido = totalsolido -+- calef7var;
	            form.total1cam.value = totalsolido;
	            
	            if (energiaCalent == "gasoleo") totalgasoleo = totalgasoleo -+- calent6var;
	            if (energiaCalef == "gasoleo") totalgasoleo = totalgasoleo -+- calef7var;
	            form.total2cam.value = totalgasoleo;
	            
	            if (energiaCocina == "GLP") totalGPL = totalGPL -+- cocina5var;
	            if (energiaCalent == "GLP") totalGPL = totalGPL -+- calent6var;
	            if (energiaCalef == "GLP") totalGPL = totalGPL -+- calef7var;
	            form.total3cam.value = totalGPL;
	            
	            if (energiaCocina == "gas") totalgas = totalgas -+- cocina5var;
	            if (energiaCalent == "gas") totalgas = totalgas -+- calent6var;
	            if (energiaCalef == "gas") totalgas = totalgas -+- calef7var;
	            form.total4cam.value = totalgas;
	            
	            if (energiaCocina == "electricidad") totalelectricidad = totalelectricidad -+- cocina5var;
	            if (energiaCalent == "electricidad") totalelectricidad = totalelectricidad -+- calent6var;
	            if (energiaCalef == "electricidad") totalelectricidad = totalelectricidad -+- calef7var;
	            totalelectricidad = totalelectricidad -+- aire5var -+- lamp3var -+- frigo5var -+- tv4var -+- canna4var -+- vaji3var -+- peq6var;
	            form.total5cam.value = totalelectricidad;
	            
	            if (energiaCalent == "solar") totalsolar = totalsolar -+- calent6var;
	            if (energiaCalef == "solar") totalsolar = totalsolar -+- calef7var;
	            form.total6cam.value = totalsolar;
	            
	            if (pers != "" && pers != "0" && EsNumero(pers)) { 
	                if (energiaCocina == "solido") totalsolidop = totalsolidop -+- cocina5pvar;
	                if (energiaCalent == "solido") totalsolidop = totalsolidop -+- calent6pvar;
	                if (energiaCalef == "solido") totalsolidop = totalsolidop -+- calef7pvar;
	                form.total1pcam.value = totalsolidop;
	                
	                if (energiaCalent == "gasoleo") totalgasoleop = totalgasoleop -+- calent6pvar;
	                if (energiaCalef == "gasoleo") totalgasoleop = totalgasoleop -+- calef7pvar;
	                form.total2pcam.value = totalgasoleop;
	                
	                if (energiaCocina == "GLP") totalGPLp = totalGPLp -+- cocina5pvar;
	                if (energiaCalent == "GLP") totalGPLp = totalGPLp -+- calent6pvar;
	                if (energiaCalef == "GLP") totalGPLp = totalGPLp -+- calef7pvar;
	                form.total3pcam.value = totalGPLp;
	                
	                if (energiaCocina == "gas") totalgasp = totalgasp -+- cocina5pvar;
	                if (energiaCalent == "gas") totalgasp = totalgasp -+- calent6pvar;
	                if (energiaCalef == "gas") totalgasp = totalgasp -+- calef7pvar;
	                form.total4pcam.value = totalgasp;
	        
	                if (energiaCocina == "electricidad") totalelectricidadp = totalelectricidadp -+- cocina5pvar;
	                if (energiaCalent == "electricidad") totalelectricidadp = totalelectricidadp -+- calent6pvar;
	                if (energiaCalef == "electricidad") totalelectricidadp = totalelectricidadp -+- calef7pvar;
	                totalelectricidadp = totalelectricidadp -+- aire5pvar -+- lamp3pvar -+- frigo5pvar -+- tv4pvar -+- canna4pvar -+- vaji3pvar -+- peq6pvar;
	                form.total5pcam.value = totalelectricidadp;
	                
	                if (energiaCalent == "solar") totalsolarp = totalsolarp -+- calent6pvar;
	                if (energiaCalef == "solar") totalsolarp = totalsolarp -+- calef7pvar;
	                form.total6pcam.value = totalsolarp;
	            }
	            else {
	                form.total1pcam.value = "";
	                form.total2pcam.value = "";
	                form.total3pcam.value = "";
	                form.total4pcam.value = "";
	                form.total5pcam.value = "";
	                form.total6pcam.value = "";
	            }
	        }
	        
	        function totalglobal(form) {
	            var pers = form.perscam.value,
	            total1var = form.total1cam.value,
	            total1pvar = form.total1pcam.value,
	            total2var = form.total2cam.value,
	            total2pvar = form.total2pcam.value,
	            total3var = form.total3cam.value,
	            total3pvar = form.total3pcam.value,
	            total4var = form.total4cam.value,
	            total4pvar = form.total4pcam.value,
	            total5var = form.total5cam.value,
	            total5pvar = form.total5pcam.value,
	            total6var = form.total6cam.value,
	            total6pvar = form.total6pcam.value,
	            $people_house_quantity = $('#id_people_house_quantity'),
              $solid_combustible_waste_kep_person = $('#id_solid_combustible_waste_kep_person'),
              $solid_combustible_waste_kep_house = $('#id_solid_combustible_waste_kep_house'),
              $liquid_combustible_waste_kep_person = $('#id_liquid_combustible_waste_kep_person'),
              $liquid_combustible_waste_kep_house = $('#id_liquid_combustible_waste_kep_house'),
              $gases_combustible_waste_kep_person = $('#id_gases_combustible_waste_kep_person'),
              $gases_combustible_waste_kep_house = $('#id_gases_combustible_waste_kep_house'),
              $gases_natural_combustible_waste_kep_person = $('#id_gases_natural_combustible_waste_kep_person'),
              $gases_natural_combustible_waste_kep_house = $('#id_gases_natural_combustible_waste_kep_house'),
              $electrical_kwh_person = $('#id_electrical_kwh_person'),
              $electrical_kwh_house = $('#id_electrical_kwh_house'),
              $solar_kwh_person = $('#id_solar_kwh_person'),
              $solar_kwh_house = $('#id_solar_kwh_house'),
              $total_kep_person = $('#id_total_kep_person'),
              $total_kep_house = $('#id_total_kep_house'),
              $send_data = $('.send-data');

	            comprobar_pers(pers);
	        
	            form.totalgcam.value = Math.round ((total1var -+- total2var -+- total3var -+- total4var -+- total6var) -+- (total5var * 0.08))
	            if (pers != "" && pers != "0" && EsNumero(pers)) {
                form.totalpcam.value = Math.round ((total1pvar -+- total2pvar -+- total3pvar -+- total4pvar -+- total6pvar) -+- (total5pvar * 0.08));
                $people_house_quantity.val(pers);
                $solid_combustible_waste_kep_person.val(total1pvar);
                $solid_combustible_waste_kep_house.val(total1var);
                $liquid_combustible_waste_kep_person.val(total2pvar);
                $liquid_combustible_waste_kep_house.val(total2var);
                $gases_combustible_waste_kep_person.val(total3pvar);
                $gases_combustible_waste_kep_house.val(total3var);
                $gases_natural_combustible_waste_kep_person.val(total4pvar);
                $gases_natural_combustible_waste_kep_house.val(total4var);
                $electrical_kwh_person.val(total5pvar);
                $electrical_kwh_house.val(total5var);
                $solar_kwh_person.val(total6pvar);
                $solar_kwh_house.val(total6var);
                $total_kep_person.val(form.totalpcam.value);
                $total_kep_house.val(form.totalgcam.value);
                $send_data.removeClass('hide');
              }else {
                form.totalpcam.value = "";
              }


	        }
	        
	        function gasto(form) {
	            var total1var = form.total1cam.value;
	            var total2var = form.total2cam.value;
	            var total3var = form.total3cam.value;
	            var total4var = form.total4cam.value;
	            var total5var = form.total5cam.value;
	            
	            form.gasto1cam.value = (total1var * 0.30);
	            form.gasto2cam.value = (total2var * 0.60);
	            form.gasto3cam.value = (total3var * 0.60);
	            form.gasto4cam.value = Math.round (total4var * 1.11) * (0.72);
	            form.gasto5cam.value = Math.round (total5var * 0.12);
	        }
	        
	        function suma(form) {
	            var gasto1var = form.gasto1cam.value;
	            var gasto2var = form.gasto2cam.value;
	            var gasto3var = form.gasto3cam.value;
	            var gasto4var = form.gasto4cam.value;
	            var gasto5var = form.gasto5cam.value;
	            
	            form.suma1cam.value = (gasto1var -+- gasto2var -+- gasto3var -+- gasto4var -+- gasto5var);
	        }
	        
	        function inicializaResultados(form){
	            form.total1cam.value = "";
	            form.total1pcam.value = "";
	            form.total2cam.value = "";
	            form.total2pcam.value = "";
	            form.total3cam.value = "";
	            form.total3pcam.value = "";
	            form.total4cam.value = "";
	            form.total4pcam.value = "";
	            form.total5cam.value = "";
	            form.total5pcam.value = "";
	            form.total6cam.value = "";
	            form.total6pcam.value = "";
	            form.totalgcam.value = "";
	            form.totalpcam.value = "";
	            form.gasto1cam.value = "";
	            form.gasto2cam.value = "";
	            form.gasto3cam.value = "";
	            form.gasto4cam.value = "";
	            form.gasto5cam.value = "";
	            form.suma1cam.value = "";
	        }
	        
	        function analisis(form){
	            var suma1var = document.forms["Resultado"].totalpcam.value;
	            
	            if (suma1var == "0"){
	                alert("Debes completar todos los calculos.");
	            }
	            else{
	                if (suma1var<=300){
	                    form.consumoenergia.value = 1;
	                }
	                if (suma1var>300){
	                    form.consumoenergia.value = 2;
	                }
	                if (suma1var>600){
	                    form.consumoenergia.value = 3;
	                }
	                document.forms["Resultado"].submit();
	            }
	        }
	        $('#send-data').on('click',function(){
             $('#data-modal').modal('show');
          });

          $('.alert-danger > p > a').on('click',function(){
            history.back();
          });

          $( document ).ready(function() {
            total_kep_house = $('#id_total_kep_house').val();
            $send_data = $('.send-data');
            if(total_kep_house != 0){
              $send_data.removeClass('hide');
            }
          });
	</script>
{% endblock %}