{% extends 'base.html' %}

{% block content %}
<!--=== Slider ===-->
    <div class="layer_slider">
        <div id="myCarousel2" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="/huella">
                                <img src="{{PROJECT_STATIC_PATH}}assets/img/sliders/slider1.png" alt="">
                                <div class="carousel-caption">
                                    <p>Huella Ecológica - ha emergido como la principal medida mundial de la demanda de la humanidad sobre la naturaleza...</p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/energias-renovables">
                                <img src="{{PROJECT_STATIC_PATH}}assets/img/sliders/slider2.png" alt="">
                                <div class="carousel-caption">
                                    <p>Las Energías Renovables se caracterizan porque en sus procesos de transformación y aprovechamiento en energía útil no.</p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/radiacion">
                                <img src="{{PROJECT_STATIC_PATH}}assets/img/sliders/slider3.png" alt="">
                                <div class="carousel-caption">
                                    <p>La Radiación Solar es la energía electromagnética emitida por los procesos de fusión del hidrógeno contenido en el sol. La intensidad y la distribución espectral ...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
    </div><!--/layer_slider-->
    <!-- Latest Shots -->
    <!--=== End Slider ===-->

   
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Recent Works -->
        <div class="headline"><h2>Tu Huella</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/footprint/footprint_water.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/huella/agua">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/huella/agua">Consumo de Agua</a></h3>
                        <p>Mide tu consumo de agua anual.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/footprint/footprint_energy.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/huella/energia">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/huella/energia">Energía</a></h3>
                        <p>Calcula tu consumo de energía por año.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/footprint/footprint_waste.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/huella/residuos">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/huella/residuos">Residuos</a></h3>
                        <p>¿Cuántos residuos crees que generas?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/footprint/footprint_transport.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/huella/transporte">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/huella/transporte">Transporte</a></h3>
                        <p>Mide los kilómetros que recorres al año y tu consumo de transporte.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Works -->

    </div><!--/container-->     
    <!-- End Content Part -->

    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Recent Works -->
        <div class="headline"><h2>Energias Renovables</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/energy/energy_solar.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/energias-renovables/solar">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/energias-renovables/solar">Energía Solar</a></h3>
                        <p>La energía solar es la más conocida de las energías renovables debido a su mayor visibilidad. Hay diferentes maneras de aprovechar...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/energy/energy_eolica.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/energias-renovables/eolica">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/energias-renovables/eolica">Energía Eólica</a></h3>
                        <p>Otra de las fuentes de energía renovable que son muy visibles es la energía eólica generada mediante aerogeneradores o molinos de viento...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/energy/energy_hidraulica.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/energias-renovables/hidraulica">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/energias-renovables/hidraulica">Energía Hidráulica</a></h3>
                        <p>La energía hidráulica aprovecha los saltos de agua para obtener electricidad. Es la más extendida de las fuentes de energía renovable....</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/energy/energy_biomasa.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/energias-renovables/biomasa">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/energias-renovables/biomasa">Energía Biomasa</a></h3>
                        <p>La bioenergía es un tipo de energía renovable procedente del aprovechamiento de la materia orgánica, de residuos de plantas, personas o animales...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="static/assets/img/energy/energy_termal.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="/energias-renovables/termica">ver +</a>                   
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="/energias-renovables/termica">Energía Geotérmica</a></h3>
                        <p>La energía geotérmica es una de las energías renovables menos conocidas. Aprovecha el calor interno de la Tierra para generar electricidad y/o calor...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Works -->

    </div><!--/container-->     
    <!-- End Content Part -->
{% endblock %}


{% block extrajs %}
 <!-- JS Page Level -->           
  <script type="text/javascript" src="static/assets/js/app.js"></script>
  <script type="text/javascript" src="static/assets/js/pages/index.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function() {
          App.init();
      });
  </script>
{% endblock %}