<!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">  
                    <li><a href="/">ECO</a></li>   
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                    <h1>ECO</h1>
                        <!--<img id="logo-header" src="{{PROJECT_STATIC_PATH}}assets/img/logo-default.png" alt="Logo">-->
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Huella active-->
                        <li class="dropdown">
                            <a href="/huella" class="dropdown-toggle" data-toggle="dropdown">
                                Huella Ecol&oacute;gica
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/huella">¿Qu&eacute; es la Huella Ecol&oacute;gica?</a></li>
                                <li><a href="/huella/agua">Calcula tu consumo de agua</a></li>
                                <li><a href="/huella/energia">Mide el empleo de energia en tu casa</a></li>
                                <li><a href="/huella/transporte">¿Cu&aacute;ntos kil&oacute;metros recorres al año?</a></li>
                                <li><a href="/huella/residuos">Calcula la basura que generas en tu casa</a></li>
                            </ul>
                        </li>
                        <!-- End Home -->

                        <!-- Portfolio -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Energias Renovables
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/energias-renovables">¿Qu&eacute; son las energias renovables?</a></li>
                                <li><a href="/energias-renovables/solar">Energ&iacute;a Solar</a></li>
                                <li><a href="/energias-renovables/eolica">Energ&iacute;a E&oacute;lica</a></li>
                                <li><a href="/energias-renovables/hidraulica">Energ&iacute;a Hidra&uacute;lica</a></li>
                                <li><a href="/energias-renovables/termica">Energ&iacute;a Geot&eacute;rmica</a></li>
                                <li><a href="/energias-renovables/biomasa">Biomasa</a></li>
                            </ul>
                        </li>
                        <!-- Ens Portfolio -->

                        <!-- Contacts -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Radiaci&oacute;n Solar
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/radiacion">Radiaci&oacute;n Solar</a></li>
                                <li><a href="/radiacion/calcular-radiacion-solar">Calcula la Radiaci&oacute;n Solar</a></li>
                            </ul>
                        </li>                    
                        <!-- End Contacts -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->  