{% extends 'base.html' %}

{% block content %}
<!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">
            <div class="col-md-9">
            	{% block main_content %}
	                <!-- Our Services -->
	                <div class="headline"><h2>Radación Solar</h2></div>
	                <!-- Blockquotes -->
	                <p>La radiación solar es la energía electromagnética emitida por los procesos de fusión del hidrógeno contenido en el sol.</p>
	                <div class="row margin-bottom-20">
	                    <div class="col-md-12">
	                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/k6vBB92Bye8?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
	                    </div>
	                </div><!--/welcome-block-->
	                <!-- End Our Services -->
	                <div class="col-md-12">
		            <div class="row">
		                <div class="col-md-4">
		                    <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/radiation.jpg"  alt="">
		                </div>
		                <div class="col-md-8">
		                  <p>La <strong>radiación solar</strong> es la energía electromagnética emitida por los procesos de fusión del hidrógeno contenido en el sol.</p>
							<p><em>La intensidad y la distribución espectral</em> de la radiación solar que llega a la superficie terrestre dependen de la composición de la atmósfera: en el suelo la energía solar se encuentra dentro del intervalo de longitud de onda de 0,2 a 2,5 micrómetros:</p>
							<p>0,2 - 0,38 micrómetros = ultravioleta (6,4% de la energía total comprendida en el espectro)<br> 0,38 - 0,78 micrómetros = visible (48%)<br> 0,78 - 10 micrómetros = infrarrojo (45,6%)</p>
							<p>La zona útil para las células fotovoltaicas de silicio cristalino empieza a 0,35 micrómetros y comprende todo el infrarrojo.<br>La intensidad máxima de la energía solar está comprendida entre 0,5 y 0,55 micrómetros.</p>
							<p>Radiación extraterrestre ("<em>constante solar</em>"): 1.367 W/m² ± 3,3 % (según la variación de la distancia Tierra - Sol)</p>
							<p>Para tener en cuenta los efectos de la atmósfera, se ha definido la masa de aire AM1 igual a 1 (Air Mass One), que representa el espesor estándar de la atmósfera atravesado perpendicularmente a la superficie terrestre, y medido a nivel del mar.</p>
							<p>AM = (1 - 0,1 * altitud)/sen HS que se puede aproximar a: 1/sen HS siendo HS el ángulo de elevación solar (ángulo entre la línea del Sol y el plano horizontal)</p>
							<p>Masa de aire fuera de la atmósfera: AM = 0<br> Con un ángulo de elevación solar HS igual a 90°: AM = 1<br> Con HS igual a 42°: AM = 1,5 (es este AM que se considera en las pruebas de laboratorio de los módulos fotovoltaicos, para la definición de la potencia nominal).</p>
							<p>Confrontando el espectro de la radiación solar en el suelo en condiciones AM1 con el espectro de la radiación fuera de la atmósfera, en condicines AM0, es posible notar en el espectro relativo a la condición AM1 la presencia de huecos, que no son presentes en el espectro AM0, debidos: 1) a la absorción causada por las moléculas de vapor de agua y de aire y por el polvo atmosférico y 2) a la reflexión en el espacio.</p>
<p><strong>Radiación solar global = Directa + Difusa + Refleja ( = 1.000 W/m²). En invierno la difusa es mucho mayor en porcentaje</strong>.</p>
<p><strong>La radiación solar difusa, en base anual, es equivalente al 55% de la golobal</strong>.</p>
<p><strong>En los cálculos de dimensionamiento de los sistemas fotovoltaicos a menudo es oportuno considerar el coeficiente de albedo, que mide la reflexión del suelo. Por lo tanto, este coeficiente depende del tipo de suelo</strong>.</p>
<p>Algunos ejemplos:<br> Hierba: 0,15 - 0,25<br> Nieve fresca: 0,82<br> Asfalto seco: 0,09 - 0,15</p>
<p><em>La intensidad de la radiación solar en el suelo</em> depende del ángulo de inclinación de la radiación misma: cuanto menor es el ángulo que los rayos del sol forman con una superficie horizontal tanto mayor es el espesor de atmósfera que tienen que atravesar, y por consiguiente es menor la radiación que llega a la superficie.</p>
<p><em>Sistemas de medida (solarímetros)</em></p>
<ul>
<li>piranómetro: 2 termopares (uno en contacto con la atmósfera, el otro en la parte trasera, en la oscuridad). La diferencia de tensión entre ambos determina la radiación. Preciso (1%).</li>
<li>células de referencia: se basa en una pequeña célula fotovoltaica. Menor precisión (5%).</li>
</ul>
<p><em>Tablas de radiación solar</em> (difusa + directa) --&gt; kWh/m² día: necesarias para todos los meses del año, para efectuar exactamente el dimensionamiento de la instalación según el tipo de utilización.</p>
<p>En nuestras latitudes, <em>la inclinación óptima del plano de los módulos</em> (o de los colectores en el caso de la energía solar térmica) es aproximadamente de 35°, para maximizar la energía absorbida a lo largo del año. En el caso de que el uso del sistema sea preferentemente en invierno, será necesario aplicar una inclinación de 55° - 60°. Estos ángulos pueden variar de lugar en lugar, incluso en la misma latitud, a causa de la variabilidad de la componente directa y difusa que existe en las diferentes zonas.</p>
		                </div>
		            </div>
		            </div>
	                
	                
	                <br>       
	                <!-- End Blockquotes -->
                {% endblock %}
            </div>
            <!--/col-md-9-->

            <div class="col-md-3">
            	{% block right_sidebar_content %}      
	                <!-- Posts -->
	                <div class="posts margin-bottom-30">
	                    <div class="headline"><h2>Aún Más</h2></div>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/radiacion/calcular-radiacion-solar"><img src="{{PROJECT_STATIC_PATH}}/assets/img/energy/azimuth.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/radiacion/calcular-radiacion-solar">Cálculo de Radiación solar</a></p> 
	                        </dd>
	                    </dl>
	                </div>
	                <!--/posts-->
                {% endblock %}
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->     
    <!--=== End Content Part ===-->
{% endblock %}
