{% extends 'renewable.html' %}


{% block main_content %}
    <!-- Our Services -->
    <div class="headline"><h2>Energía Hidráulica</h2></div>
    <!-- Blockquotes -->
    <p>La energía hidráulica aprovecha los saltos de agua para obtener electricidad. Es la más extendida de las fuentes de energía renovable, ya que está presente en todos los países desarrollados del mundo. Para generar esta energía renovable se pueden construir presas artificialmente o aprovechar accidentes geográficos naturales para obtener energía hidroeléctrica. En algunos emplazamientos existen centrales minihidráulicas situadas en ríos que aprovechan pequeños saltos de agua para generar electricidad mediante turbinas para pequeñas o medianas industrias.</p>
    <div class="row margin-bottom-20">
        <div class="col-md-12">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/ncfBkbmfwA4?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
        </div>
    </div><!--/welcome-block-->
    <!-- End Our Services -->
    <br>       
    <!-- End Blockquotes -->
     <!-- Begin Content -->
            <div class="col-md-9">
                <!-- Accordion v1 -->                
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                   Breve Reseña
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_hidraulica.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <p>La fuerza del agua ha sido utilizada durante mucho tiempo para moler trigo, pero fue con la Revolución Industrial, y especialmente a partir del siglo XIX, cuando comenzó a tener gran importancia con la aparición de las ruedas hidráulicas para la producción de energía eléctrica. Poco a poco la demanda de electricidad fue en aumento. El bajo caudal del verano y otoño, unido a los hielos del invierno hacían necesaria la construcción de grandes presas de contención, por lo que las ruedas hidráulicas fueron sustituidas por máquinas de vapor en cuanto se pudo disponer de carbón.

                                        La primera central hidroeléctrica moderna se construyó en 1880 en Northumberland, Gran Bretaña. El renacimiento de la energía hidráulica se produjo por el desarrollo del generador eléctrico, seguido del perfeccionamiento de la turbina hidráulica y debido al aumento de la demanda de electricidad a principios del siglo XX. En 1920 las centrales hidroeléctricas generaban ya una parte importante de la producción total de electricidad.

                                        A principios de la década de los noventa, las primeras potencias productoras de energía hidroeléctrica eran Canadá y Estados Unidos. Canadá obtiene un 60% de su electricidad de centrales hidráulicas.

                                        En todo el mundo, este tipo de energía representa aproximadamente la cuarta parte de la producción total de electricidad, y su importancia sigue en aumento. Los países en los que constituye fuente de electricidad más importante son Noruega (99%), Zaire (97%) y Brasil (96%). La central de Itaipú, en el río Paraná, está situada entre Brasil y Paraguay, se inauguró en 1982 y tiene la mayor capacidad generadora del mundo. Como referencia, la presa Grand Coulee, en Estados Unidos, genera unos 6.500 Mw y es una de las más grandes.

                                        En algunos países se han instalado centrales pequeñas, con capacidad para generar entre un kilovatio y un megavatio. En muchas regiones de China, por ejemplo, estas pequeñas presas son la principal fuente de electricidad. Otras naciones en vías de desarrollo están utilizando este sistema con buenos resultados.</p>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    Clasificación
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Se pueden clasificar según varios argumentos, como características técnicas, peculiaridades del asentamiento y condiciones de funcionamiento.

                                        En primer lugar hay que distinguir las que utilizan el agua según discurre normalmente por el cauce de un río, y aquellas otras a las que ésta llega, convenientemente regulada, desde un lago o pantano. Se denominan:

                                        Centrales de Agua Fluente, Centrales de agua embalsada, Centrales de Regulación, Centrales de Bombeo.

                                        Según la altura del salto de agua o desnivel existente:

                                        Centrales de Alta Presión, Centrales de Media Presión, Centrales de Baja Presión

                                        Centrales de Agua Fluente:

                                        Llamadas también de agua corriente, o de agua fluyente. Se construyen en los lugares en que la energía hidráulica debe ser utilizada en el instante en que se dispone de ella, para accionar las turbinas hidráulicas.

                                        No cuentan prácticamente con reserva de agua, oscilando el caudal suministrado según las estaciones del año. En la temporada de precipitaciones abundantes (de aguas altas), desarrollan su potencia máxima, y dejan pasar el agua excedente. Durante la época seca (aguas bajas), la potencia disminuye en función del caudal, llegando a ser casi nulo en algunos ríos en la época del estío.

                                        Su construcción se realiza mediante presas sobre el cauce de los ríos, para mantener un desnivel constante en la corriente de agua..</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion v1 -->                

                <div class="margin-bottom-60"></div>              
            </div>
            <!-- End Content -->
{% endblock %}