{% extends 'renewable.html' %}


{% block main_content %}
    <!-- Our Services -->
    <div class="headline"><h2>Energía Eólica</h2></div>
    <!-- Blockquotes -->
    <p>Otra de las fuentes de energía renovable que son muy visibles es la energía eólica generada mediante aerogeneradores o molinos de viento. Existen de muy diversos tamaños. Es posible encontrar aerogeneradores desde unos pocos kW de potencia hasta otros que tienen MW de potencia.</p>
    <div class="row margin-bottom-20">
        <div class="col-md-12">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/pO3bTbdbtFU?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
        </div>
    </div><!--/welcome-block-->
    <!-- End Our Services -->
    <br>       
    <!-- End Blockquotes -->
     <!-- Begin Content -->
            <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_eolica.jpg"  alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="panel-title">
                    La transformación de la energía eólica en energías de uso
                    </h4>
                   <p>La energía contenida en el viento debe ser transformada, según sea la necesidad, en energía eléctrica, mecánica o térmica. Las posibilidades de uso de la energía eléctrica son infinitas.La energía mecánica obtenida del viento puede ser utilizada para el bombeo de agua o molienda de distintos productos. La energía térmica se consigue a partir de la energía eólica puede ser usada para generar frío o calor, para procesos industriales.</p>
                    <h4 class="panel-title">
                    Las maquinas eólicas
                    </h4>
                   <p>Para llevar adelante estas transformaciones se utilizan distintos tipos de máquinas. Generalmente no se requieren grandes velocidades de viento para producir energía. En la mayoría de los casos los equipos están diseñados para comenzar a generar energía con velocidades del viento de unos 15 km/h. y entregan su potencia máxima a una velocidad del orden de los 40 a 55 km/h.Este diseño responde a estadísticas climáticas imperantes en cada zona de instalación. En caso de temporales o grandes ráfagas de viento, los aerogeneradores disponen de sistemas de protección que los sacan de servicio cuando la velocidad del viento supera los 90km/h.</p>
                </div>
            </div>
            </div>
{% endblock %}