{% extends 'renewable.html' %}


{% block main_content %}
    <!-- Our Services -->
    <div class="headline"><h2>Energía Biomasa</h2></div>
    <!-- Blockquotes -->
    <p>La bioenergía es un tipo de energía renovable procedente del aprovechamiento de la materia orgánica, de residuos de plantas, personas o animales. Dependiendo del origen de la bioenergía existen varios tipos, como el biogás, procedente de la tratamiento de residuos orgánicos animales o la biomasa que se obtiene del procesamiento de materia orgánica, mayoritariamente agrícola o forestal. El biodiesel o los biocarburantes se consigue después de procesar aceites vegetales o grasas animales.</p>
    <div class="row margin-bottom-20">
        <div class="col-md-12">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/s6OjgzC8IBQ?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
        </div>
    </div><!--/welcome-block-->
    <!-- End Our Services -->
    <br>       
    <!-- End Blockquotes -->
     <!-- Begin Content -->
            <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_biomasa2.jpg"  alt="">
                </div>
                <div class="col-md-8">
                   <p>La energía de la biomasa proviene en última instancia del sol. Mediante la fotosíntesis el reino vegetal absorbe y almacena una parte de la energía solar que llega a la tierra; las células vegetales utilizan la radiación solar para formar sustancias orgánicas a partir de sustancias simples y dióxido de carbono (CO2) presente en el aire. El reino animal incorpora, transforma y modifica dicha energía. En ambos procesos de transformación se generan subproductos que no tienen valor para la cadena nutritiva o no sirven para la fabricación de productos de mercado, pero que pueden utilizarse como combustible en diferentes aprovechamientos energéticos.
Para el Protocolo de Kyoto, la biomasa tiene un factor de emisión de dióxido de carbono (CO2) igual a cero. La combustión de biomasa produce agua y CO2, pero la cantidad emitida de dióxido de carbono fue captada previamente por las plantas durante su crecimiento. Es decir, el CO2 forma parte de un flujo de circulación natural entre la atmósfera y la vegetación por lo que no representa un incremento en las emisiones de CO2. Su uso contribuye a reducir las emisiones de CO2 a la atmósfera siempre y cuando sustituya a un combustible fósil. Es por este motivo los proyectos de biomasa o biogás, en Chile, son potenciales proyectos para postular al Mecanismo de Desarrollo Limpio (MDL).</p>
                <h4 class="panel-title">
                    Tipos de Biomasa
                </h4>
                <p>Existen diferentes tipos o fuentes de biomasa que pueden ser utilizados energéticamente, una de las clasificaciones generalmente más aceptada es la siguiente:</p>
<p>• Biomasa natural: es la que se encuentra en la naturaleza sin ningún tipo de intervención humana. Los recursos generados por los desechos naturales de un bosque constituyen un ejemplo de este tipo de biomasa.</p>
<p>• Biomasa residual seca: se incluyen en este grupo los productos sólidos no utilizados de las actividades agrícolas y ganaderas, las forestales y de los procesos de las industrias agroalimentarias y de transformación de la madera. Algunos ejemplos de este tipo de biomasa son el estiércol, la paja, el orujo, la madera de podas y raleo, el aserrín, etc.</p>
<p>• Biomasa residual húmeda: son los vertidos denominados biodegradables: las aguas residuales urbanas e industriales y los residuos ganaderos principalmente purines. La fermentación de este tipo de biomasa genera un gas (biogás) que se combustiona. </p>
<p>• Cultivos energéticos: son cultivos realizados con la finalidad de producir biomasa transformable en biocombustible. Se encuentran en este grupo el maíz, raps, girasol y plantaciones dendroenergéticas.</p>
<p>Los usos de la biomasa en aplicaciones energéticas son principalmente la producción de gas, energía calórica (térmica) y energía eléctrica.</p>
                </div>
            </div>
            </div>
{% endblock %}