{% extends 'base.html' %}

{% block content %}
<!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">
            <div class="col-md-9">
            	{% block main_content %}
	                <!-- Our Services -->
	                <div class="headline"><h2>Energia Renovable</h2></div>
	                <!-- Blockquotes -->
	                <p>Las fuentes de energías renovables son aquellas que se obtienen de fuentes naturales inagotables a escala humana. Esto puede deberse a dos causas, o  bien el recurso dispone de una cantidad de energía ilimitada (el Sol, el viento, etc.) o bien porque el recurso tiene la capacidad de regenerarse de manera natural (las mareas, olas, materia forestal, etc.).</p>
	                <div class="row margin-bottom-20">
	                    <div class="col-md-12">
	                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/oYqduhNY6QM?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
	                    </div>
	                </div><!--/welcome-block-->
	                <!-- End Our Services -->
	                <h2>VENTAJAS DE LAS ENERGÍAS RENOVABLES </h2>
	                <ul><li>Son mas respetuosas con el <strong>medio ambiente</strong>, <strong>no contaminan</strong> y representan la alternativa de energía más limpia hasta el momento.</li><li>Son fáciles de desmantelar y <strong>no requieren custodiar sus residuos</strong> durante millones de años, como ocurre por ejemplo con las energías nucleares.</li><li>Hace que la <strong>región sea mas autónoma,</strong> ya que desarrolla en la misma región donde se instala, la <strong>industria</strong> y la <strong>económica</strong>.</li><li>Genera muchísimos <strong>puestos de trabajo</strong>, los que se prevén en un aumento aún mayor de aquí a unos años teniendo en cuenta su demanda e implementación.</li><li><div align="justify">&nbsp;Son energías seguras ya que no contaminan, ni tampoco suponen un riesgo para la salud, y sus <strong>residuos</strong> además no crean<strong> ningún tipo de amenaza para nadie.</strong></div></li><li>Se trata de<strong> energías de fuentes que son inagotables</strong>, como el sol o el agua, y además sus distintos orígenes permiten su <strong>aplicación en todo tipo de escenarios.</strong></li></ul>
	                <br>
	                <h2>DESVENTAJAS DE LAS ENERGÍAS RENOVABLES </h2>
	                <ul><li>La primera característica que dificulta la elección de este tipo de energías es la<strong> inversión inicial, la que supone un gran movimiento de dinero</strong> y que muchas veces la hace parecer no rentable al menos por el tiempo.</li><li>La <strong>disponibilidad</strong> puede ser un problema actual, no siempre se dispone de ellas y se debe esperar que haya suficiente almacenamiento. Esto tiene una estrecha relación con el hecho de que están comenzado a ser cada vez más populares.</li><li>Algunas personas encuentran un inconveniente en estas energías, el hecho de que <strong>dependiendo de su fuente necesitan de un gran espacio para poder desarrollarse</strong>, o necesitaremos disponer de un gran sistema para que surja algún efecto (es el caso por ejemplo de los paneles solares, de los que necesitaremos una cantidad considerable si queremos generar una alta energía eléctrica).</li><li>Por otro lado cabe añadir que&nbsp;un claro problema inherente a las energías renovables será el que muchas de ellas <strong>cuentan con una naturaleza difusa</strong>, con la excepción de la&nbsp;energía geotérmica la cual, sin embargo, sólo es accesible donde la corteza terrestre es fina, como&nbsp;as fuentes calientes y los géiseres.</li></ul>
	                <!-- End Blockquotes -->
                {% endblock %}
            </div>
            <!--/col-md-9-->
                   
            <div class="col-md-3">
            	{% block right_sidebar_content %}      
	                <!-- Posts -->
	                <div class="posts margin-bottom-30">
	                    <div class="headline"><h2>Tipos de Energias Renovables</h2></div>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/energias-renovables/solar"><img src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_solar.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/energias-renovables/solar"> Energía Solar</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/energias-renovables/eolica"><img src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_eolica.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/energias-renovables/eolica"> Energía Eólica</a></p>
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/energias-renovables/termica"><img src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_termal.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/energias-renovables/termica"> Energía Geotérmica</a></p>
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/energias-renovables/biomasa"><img src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_biomasa.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/energias-renovables/biomasa"> Energía Biomasa</a></p>
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                        <dt><a href="/energias-renovables/hidraulica"><img src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_hidraulica.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="/energias-renovables/hidraulica"> Energía Hidráulica</a></p> 
	                        </dd>
	                    </dl>
	                </div>
	                <!--/posts-->
                {% endblock %}
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->     
    <!--=== End Content Part ===-->
{% endblock %}
