{% extends 'renewable.html' %}


{% block main_content %}
    <!-- Our Services -->
    <div class="headline"><h2>Energía Solar</h2></div>
    <!-- Blockquotes -->
    <p>La energía solar es la más conocida de las energías renovables debido a su mayor visibilidad. Hay diferentes maneras de aprovechar la radiación solar para generar energía, esto hace que existan varios tipos de energía solar, entre los que destacan 3, la energía solar fotovoltaica que convierte la energía del Sol en electricidad, la energía solar térmica que la convierte en calor y la energía termosolar o solar termoeléctrica que también produce electricidad. Para cada uno de estos tipos existen aplicaciones muy diferenciadas, desde el calentamiento del agua para la energía solar térmica hasta el consumo de electricidad en edificios para la energía solar fotovoltaica.</p>
    <div class="row margin-bottom-20">
        <div class="col-md-12">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/10V2PidjJOY?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
        </div>
    </div><!--/welcome-block-->
    <!-- End Our Services -->
    <br>       
    <!-- End Blockquotes -->
     <!-- Begin Content -->
            <div class="col-md-12">
                <!-- Accordion v1 -->                
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    Solar Fotovoltaica
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_fotovoltaica.jpg"  alt="">
                                    </div>
                                    <div class="col-md-8">
                                       <p>Un componente central de la mezcla futura de energías renovables es la solar fotovoltaica, que convierte la luz del sol en energía eléctrica, sin perjudicar el medio ambiente, sin generar basuras y sin dañar la salud; el sol nos ofrece la posibilidad de detener o al menos minimizar el cambio climático y el agotamiento de los recursos naturales.</p>
                                       <p>Las instalaciones solares fotovoltaicas funcionan de acuerdo con un sencillo principio: constan de paneles solares (módulos fotovoltaicos)  individuales, que a su vez contienen células solares individuales hechas de materiales semiconductores como el silicio (cristalino y amorfo). Cuando brilla el sol, una célula solar se comporta casi como una batería, la luz solar recibida separa los electrones de modo que forman una capa de carga positiva y una de carga negativa en la célula solar; esta diferencia de potencial genera una corriente eléctrica.</p>
                                       <p>Cuanta más luz del sol reciba una célula, más será la potencia de corriente eléctrica generada; para aumentar dicha potencia, se combinan varias células y se conectan formando un panel solar; estos paneles a su vez se pueden integrar para aumentar aún más la potencia formando una planta fotovoltaica. 
La potencia máxima de una planta fotovoltaica en teoría es ilimitada conectando un número indefinido de paneles solares. En la práctica, la potencia máxima de la instalación se calcula con  base a la radiación solar del lugar,  las necesidades de energía eléctrica del usuario y la superficie disponible para la instalación de los paneles solares. La potencia máxima de una instalación fotovoltaica se indica en kilovatios pico (kWp) o megavatios pico (MWp).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">                           
									Energía solar térmica
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Definiremos la energía solar térmica o energía termosolar como el aprovechamiento de la energía del Sol para generar calor mediante el uso de colectores o paneles solares térmicos. Esta energía solar se encarga de calentar el agua u otro tipo de fluidos a temperaturas que podrán oscilar entre 40º y 50º, no debiendo superar los 80º.</p>
                                        <p>
Esta agua caliente se podrá usar posteriormente para cocinar o para la producción de agua caliente destinada al consumo de agua doméstico (ACS), ya sea agua caliente sanitaria, calefacción, o para producción de energía mecánica y a partir de ella, de energía eléctrica. Actualmente también tenemos la posibilidad de alimentar una máquina de refrigeración por absorción, que empleará esta energía solar térmica en lugar de electricidad para producir frío como lo haría un aparato de aire acondicionado tradicional.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_solar_term.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">                           
									Solar Termoeléctrica
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>La energía solar termoeléctrica se clasifica en sistemas de media temperatura y sistemas de alta temperatura. Las centrales de media temperatura más desarrolladas actualmente corresponden a centrales con colectores cilindroparabólicos. Los aprovechamientos de alta temperatura se realizan mediante centrales de torre y centrales de generadores discoparabólicos.</p>
                                        <p>Centrales de Colectores Cilindroparabólicos (Media Temperatura). Están formadas por colectores de espejo que reflejan la radiación sobre un tubo situado en la línea focal, el cual contiene el absorbente y el fluido caloportador. El fluido es calentado hasta 400ºC, con relaciones de concentración solar de entre 15 y 50, produciendo vapor sobrecalentado que alimenta una turbina convencional que genera electricidad. Es necesario disponer de un sistema de seguimiento solar.</p>
                                        <p>Centrales de Torre (Alta Temperatura). Formadas por un campo de helióstatos que reflejan la radiación sobre un intercambiador de calor situado en la parte superior de una torre central. Se alcanzan temperaturas de 600 ºC. </p>
                                        <p>Generadores Solares Disco-Parabólicos (Alta Temperatura). Consisten en un conjunto de espejos que forman una figura disco-parabólica en cuyo foco se dispone el receptor solar en el que se calienta el fluido. El fluido es calentado hasta 750 ºC y para generar electricidad, actualmente se utilizan motores Stirling o turbinas Brayton.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_solar_termelectric.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Accordion v1 -->                

                <div class="margin-bottom-60"></div>              
            </div>
            <!-- End Content -->
{% endblock %}