{% extends 'renewable.html' %}


{% block main_content %}
    <!-- Our Services -->
    <div class="headline"><h2>Energía Geotérmica</h2></div>
    <!-- Blockquotes -->
    <p>La energía geotérmica es una de las energías renovables menos conocidas. Aprovecha el calor interno de la Tierra para generar electricidad y/o calor, dependiendo del tipo de instalación. Tradicionalmente ha sido utilizada desde los tiempos de los romanos mediante el aprovechamiento de las fuentes termales naturales. Hay algunos países como Islandia donde está energía tiene una gran relevancia. Se puede clasificar según la temperatura de la corteza de la Tierra y puede variar entre geotérmica de muy baja temperatura (entre 20C y 50C) hasta geotérmica de muy alta temperatura (entre 150C y 400C).</p>
    <div class="row margin-bottom-20">
        <div class="col-md-12">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="450" height="300" type="text/html" src="https://www.youtube.com/embed/IgLa85Tn58Q?autoplay=0&origin=http://youtubeembedcode.com"></iframe>
        </div>
    </div><!--/welcome-block-->
    <!-- End Our Services -->
    <br>       
    <!-- End Blockquotes -->
     <!-- Begin Content -->
            <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="{{PROJECT_STATIC_PATH}}assets/img/energy/energy_termal2.jpg"  alt="">
                </div>
                <div class="col-md-8">
                   <p>La noción de energía geotérmica, por lo tanto, está vinculada a la energía obtenida a partir del aprovechamiento de calor del interior de la Tierra. Este calor puede generarse por distintos factores.
La energía geotérmica puede hacer uso de las aguas termales que se encuentran a poca profundidad y que emanan vapor. Otra fuente de energía geotérmica es el magma (mezcla de roca fundida y gases), aunque no existen recursos tecnológicos suficientes para una explotación industrial del mismo.
Lo habitual es que las plantas de energía geotérmica funcionen con un mínimo de dos pozos: de uno se obtiene el agua caliente, mientras que el otro se utiliza para reinyectar el caudal obtenido ya enfriado en el acuífero. Este sistema permite mantener el caudal de agua del yacimiento.
Cabe destacar que los yacimientos geotérmicos pueden agotarse y/o enfriarse, lo que supone que este tipo de energía no sea totalmente renovable.
Si bien la energía geotérmica es una de los tipos de energía renovable menos conocidos por la gente ajena al ámbito científico, es muy probable que todos hayamos visto los efectos de esta fuente natural de calor en acción más de una vez en nuestra vida; algunos de los ejemplos de su manifestación son las erupciones volcánicas, los géiseres, las fumarolas (grietas en la tierra que permiten el escape de vapores de agua y gases sulfurosos que proceden de algún conducto volcánico) y las aguas termales (conocidas especialmente por la relajación que producen al entrar en contacto con el cuerpo).</p>
                </div>
            </div>
            </div>
{% endblock %}